@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaTroGiaTroCuoc;

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
            MoneyDecimalMask();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ giá<small>&nbsp;Trợ giá trợ cước</small><br />
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="TroGiaTroCuoc" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_r_store">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số quyết định:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Soqd"  required/>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời điểm:<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" asp-for="Thoidiem"  required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Thông tin quyết định:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Ttqd" />
                    </div>
                </div>
            </div>
        
            
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTroGiaTroCuoc/Detail.cshtml")
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="TroGiaTroCuoc" asp-action="Index" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2" ><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}