@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaTroGiaTroCuoc;

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ giá<small>&nbsp;Trợ giá trợ cước</small><br />
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="TroGiaTroCuoc" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_r_store">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Thôn tin quyết định</label>
                        <input type="text" class="form-control" asp-for="Ttqd" />
                    </div>
                </div>
            </div>
        
            
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTroGiaTroCuoc/Detail.cshtml")
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="TroGiaTroCuoc" asp-action="Index" asp-route-Madv="@Model.Mahs" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateTGTC()"><i class="la la-check"></i>Lưu lại</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateTGTC() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_r_store").submit();
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}