@model CSDLGia_ASP.Models.Manages.DinhGia.GiaMuaTaiSan
<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<form id="frm_philephict" action="" method="post">
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Chỉnh sửa thông tin hồ sơ
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="edit_thongtin">
                    <input type="hidden" value="@Model.Mahs" id="Mahs" name="Mahs" />
                    <input type="hidden" id="id" name="Id" />
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tên công tác</label>
                                <input type="text" id="Mota" name="Mota" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Đơn vị tính</label>
                                <input type="text" id="Dvt" name="Dvt" class="form-control" style="font-weight: bold" readonly />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Khối lượng mời thầu</label>
                                <input type="text" id="KhoiLuong" name="KhoiLuong" class="form-control money text-right" style="font-weight: bold" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Đơn giá</label>
                                <input type="text" id="DonGia" name="DonGia" class="form-control money text-right" style="font-weight: bold" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Thành tiền</label>
                                <input type="text" id="ThanhTien" class="form-control money text-right" style="font-weight: bold" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Sắp xếp</label>
                                <input type="text" id="SapXep" name="SapXep" class="form-control" />
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số thự tự hiển thị</label>
                                <input type="text" id="HienThi" name="HienThi" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SetEdit(Id) {
        $('#frm_philephict').find("[name='Id']").val(Id);
        $.ajax({
            url: '/GiaTrungThauHhDvCt/Edit',
            type: 'POST',
            data: {
                Id: Id
            },
            dataType: 'JSON',
            success: function (data) {
                console.log(data);
                var form = $('#frm_philephict');
                form.find("[name='Id']").val(data.id);
                form.find("[name='DonGia']").val(data.donGia);
                form.find("[name='Mota']").val(data.mota);
                form.find("[name='HienThi']").val(data.hienThi);
                form.find("[name='SapXep']").val(data.sapXep);
                form.find("[name='KhoiLuong']").val(data.khoiLuong);
                form.find("[name='Dvt']").val(data.dvt);
                form.find("[id='ThanhTien']").val(data.thanhTien);
            }
        })
    }

    var KhoiLuong = document.getElementById("KhoiLuong");
    var DonGia = document.getElementById("DonGia");
    var ThanhTien = document.getElementById("ThanhTien");

    // Thêm sự kiện input cho cả hai input đơn giá và số lượng
    KhoiLuong.addEventListener("input", calculateTotal);
    DonGia.addEventListener("input", calculateTotal);

    // Hàm tính toán tổng giá trị
    function calculateTotal() {
        // Lấy giá trị đơn giá và số lượng từ input
        var khoiLuong = getdl(KhoiLuong.value);
        var donGia = getdl(DonGia.value);

        // Tính toán tổng giá trị
        var thanhTien = khoiLuong * donGia;

        // Hiển thị tổng giá trị trên input total
        ThanhTien.value = thanhTien; // Giữ hai số lẻ
    }

    function getdl(str) {
        if (str == '' || str == null) { return 0; }
        var kq = 0;
        //str=str.replace(',',''); hàm này số dang 1,234,564 => 1234,564 (chỉ replace 1 lần)
        str = str.replace(new RegExp(',', 'g'), '');

        if (str == '' || str == null) { return kq; }

        if (!isNaN(str) || str != '') {
            kq = str;
        }

        return parseFloat(kq);
    }

    function Add(Id) {
        var form = $('#frm_philephict');
        form.find("[name='Id']").val(Id);
        form.find("[name='DonGia']").val(0);
        form.find("[name='Mota']").val('');
        form.find("[name='HienThi']").val(0);
        form.find("[name='SapXep']").val(0);
        form.find("[name='KhoiLuong']").val(0);
        form.find("[name='Dvt']").val('');
        form.find("[name='ThanhTien']").val(0);
    }

    function SetUpdate() {
        var dongGia = $('#frm_philephict').find("[name='DonGia']").val().replace(",", "");
        $('#frm_philephict').find("[name='DonGia']").val(dongGia);
        var khoiLuong = $('#frm_philephict').find("[name='KhoiLuong']").val().replace(",", "");
        $('#frm_philephict').find("[name='KhoiLuong']").val(khoiLuong);
        var formData = new FormData($('#frm_philephict')[0]);
        $.ajax({
            url: '/GiaTrungThauHhDvCt/Update',
            type: 'POST',
            cache: false,
            dataType: false,
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/PhiLePhiCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>