@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}

<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr >
            <th style="text-align:center" width="4%">STT</th>
            <th style="text-align:center">Khu vực</th>
            <th style="text-align:center">Điểm đầu</th>
            <th style="text-align:center">Điểm cuối</th>
            <th style="text-align:center">Vị trí</th>
            <th style="text-align:center">Diện tích</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">1</td>
                    <td style="text-align: center">1</td>
                    <td style="text-align: center">1</td>
                    <td style="text-align: center">1</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Không có kết quả tìm kiếm!!!</td>
            </tr>
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaDatDiaBan" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>


