<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin ngành kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="data_create">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Mã ngành kinh doanh<span class="require">*</span></label>
                            <input type="text" name="manganh_create" id="manganh_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên ngành kinh doanh<span class="require">*</span></label>
                            <input type="text" name="tennganh_create" id="tennganh_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Theo dõi<span class="require">*</span></label>
                            <select id="theodoi_create" name="theodoi_create" class="form-control">
                                <option value="TD">Theo dõi</option>
                                <option value="DTD">Dừng theo dõi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()" id="btn_store">Thêm mới</button>
                <div id="loading_store" style="display:none">
                    <span class="mr-2 text-muted">Loading...</span>
                    <span class="spinner spinner-primary mr-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin ngành kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="frm_edit">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()" id="btn_update">Cập nhật</button>
                <div id="loading_update" style="display:none">
                    <span class="mr-2 text-muted">Loading...</span>
                    <span class="spinner spinner-primary mr-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Store() {
        document.getElementById("btn_store").style.display = "none";
        document.getElementById("loading_store").style.display = "block";
        if ($('#manganh_create').val() != '') {
            if ($('#tennganh_create').val() != '') {
                $.ajax({
                    url: '/DmNganhNghe/Store',
                    type: 'POST',
                    data: {
                        Manganh: $('#manganh_create').val(),
                        Tennganh: $('#tennganh_create').val(),
                        Theodoi: $('#theodoi_create').val(),
                    },
                    dataType: 'JSON',
                    success: function(data) {
                        if (data.status == 'success') {
                            toastr.success(data.message);
                            location.reload();
                        } else {
                            toastr.error(data.message, "Lỗi!");
                        }
                        document.getElementById("btn_store").style.display = "block";
                        document.getElementById("loading_store").style.display = "none";
                    }
                })
            } else {
                toastr.error("Tên ngành kinh doanh không được để trống", "Lỗi!");
                document.getElementById("btn_store").style.display = "block";
                document.getElementById("loading_store").style.display = "none";
            }
        } else {
            toastr.error("Mã ngành kinh doanh không được để trống", "Lỗi!");
            document.getElementById("btn_store").style.display = "block";
            document.getElementById("loading_store").style.display = "none";
        }
    }

    function Update() {
        document.getElementById("btn_update").style.display = "none";
        document.getElementById("loading_update").style.display = "block";
        if ($('#manganh_edit').val() != '') {
            if ($('#tennganh_edit').val() != '') {
                $.ajax({
                    url: '/DmNganhNghe/Update',
                    type: 'POST',
                    data: {
                        Manganh: $('#manganh_edit').val(),
                        Tennganh: $('#tennganh_edit').val(),
                        Theodoi: $('#theodoi_edit').val(),
                        Id: $('#id_edit').val(),
                    },
                    dataType: 'JSON',
                    success: function(data) {
                        if (data.status == 'success') {
                            toastr.success("Cập nhật thành công!!!", "Thành công!");
                            location.reload();
                        } else {
                            toastr.error(data.message, "Lỗi!");
                        }
                        document.getElementById("btn_update").style.display = "block";
                        document.getElementById("loading_update").style.display = "none";
                    }
                })
            } else {
                toastr.error("Tên ngành kinh doanh không được để trống", "Lỗi!");
                document.getElementById("btn_update").style.display = "block";
                document.getElementById("loading_update").style.display = "none";
            }
        } else {
            toastr.error("Mã ngành kinh doanh không được để trống", "Lỗi!");
            document.getElementById("btn_update").style.display = "block";
            document.getElementById("loading_update").style.display = "none";
        }
    }

    function SetEdit(id) {
        $.ajax({
            url: '/DmNganhNghe/Edit',
            type: 'POST',
            data: {
                Id: id,
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    $('#frm_edit').replaceWith(data.message);
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>