@model CSDLGia_ASP.Models.Manages.KeKhaiGia.KkGiaDvLtCskd
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin cơ sở kinh doanh<small>&nbsp;thêm mới</small><br />
                    <small style="color: blue;">@ViewData["Tendn"] - Mã số thuế: @ViewData["Madv"]</small>
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="KkGiaDvltCskd" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_dvlt_update">
            <div class="card-body">
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <input asp-for="Madv">
                <input asp-for="Macskd">
                <input asp-for="Avatar">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Tên cơ sở kinh doanh*</label>
                            <input type="text" class="form-control" asp-for="Tencskd" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Loại hạng*</label>
                            <select class="form-control" asp-for="Loaihang">
                                <option value="1 sao">1 sao</option>
                                <option value="2 sao">2 sao</option>
                                <option value="3 sao">3 sao</option>
                                <option value="4 sao">4 sao</option>
                                <option value="5 sao">5 sao</option>
                                <option value="Khác(Nhà nghỉ)">Khác(Nhà nghỉ)</option>
                                <option value="Chưa xác định(Khách sạn chưa xác định sao)">Chưa xác định(Khách sạn chưa xác định sao)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="tel" class="form-control" asp-for="Telkd" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" asp-for="Diachikd" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Trang chủ</label>
                            <input type="url" class="form-control" asp-for="Link" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Ảnh đại diện*</label>
                        @if (!string.IsNullOrEmpty(Model.Avatar))
                        {
                            <a href="~/UpLoad/Avatar/@ViewData["Avatar"]" target="_blank"
                           onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                Ảnh đại diện hiện tại
                            </a>
                        }
                        <input type="file" asp-for="Avatarupload" accept=".jpg, .png" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="KkGiaDvltCskd" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValDvlt()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValDvlt() {
        if ($('#Tencskd').val().trim() == '') {
            toastr.error("Tên cơ sở kinh doanh không được để trống!", "Lỗi!!!")
        } else {
            document.getElementById("frm_dvlt_update").submit();
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }