@{
    var dsdvt = (IEnumerable<DmDvt>)ViewData["Donvitinh"];
    var PhanLoaiDichVu = (IEnumerable<GiaSpDvToiDaDm>)ViewData["PhanLoaiDichVu"];
}

<!--Create Modal-->
<form method="post" id="frm_chitiet" asp-controller="GiaSpDvToiDaDm" asp-action="Store">
    <div class="modal fade kt_select2_modal" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thông tin sản phẩm dịch vụ tối đa
                        <span class="d-block text-muted pt-2 font-size-sm">Thêm mới sản phẩm dịch vụ tối đa</span>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="Manhom" name="Manhom" value="@ViewData["Manhom"]" />
                    <input hidden id="Id" name="Id" />

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tên sản phẩm</label>
                                <input type="text" id="Tenspdv" name="Tenspdv" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-4">                            
                            <div class="form-group fv-plugins-icon-container">
                                <label>Đơn vị tính</label>
                                <select class="form-control kt_select2_1_modal" id="Dvt" name="Dvt">
                                    @foreach (var item in dsdvt)
                                    {
                                        <option value="@item.Dvt">@item.Dvt</option>
                                    }
                                </select>                               
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="form-group fv-plugins-icon-container">
                                <label>STT báo cáo</label>
                                <input type="text" id="HienThi" name="HienThi" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Sắp xếp</label>
                                <input type="number" id="SapXep" name="SapXep" class="form-control" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ tối đa
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa thông tin sản phẩm dịch vụ tối đa???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaSpDvToiDaDm" asp-action="Delete">
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function editId(id_edit) {
        $.ajax({
            url: '/GiaSpDvToiDaDmCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                console.log(data);
                var form = $('#frm_chitiet');
                form.find("[name='Id']").val(data.id);
                form.find("[name='Tenspdv']").val(data.tenspdv);
                form.find("[name='Dvt']").val(data.dvt).trigger('change');;
                form.find("[name='HienThi']").val(data.hienThi);
                form.find("[name='SapXep']").val(data.sapxep);
            }
        })
    }

    function setId(id_edit) {

        var form = $('#frm_chitiet');
        form.find("[name='Id']").val(id_edit);
        form.find("[name='Tenspdv']").val("");
        //form.find("[name='Dvt']").val(data.dvt);
        form.find("[name='HienThi']").val("");
        form.find("[name='SapXep']").val(1);

    }

    function Lock() {
        $.ajax({
            url: '/GiaSpDvToiDaDmCt/Lock',
            type: 'POST',
            data: {
                Manhom: $('#manhom_lock').val(),
                Theodoi: $('#theodoi_lock').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }    
</script>