@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManagedClass.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                GIÁ SẢN PHẨM DỊCH VỤ CÔNG ÍCH
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    @*sau khi thêm load lại chỗ này*@
    <form asp-controller="GiaSpDvCongIch" asp-action="Update" method="post">
        <div class="card-body">           
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvCongIch/Detail.cshtml")

            <div class="card-footer" style="text-align:center">
                <a asp-controller="GiaSpDvCongIch" asp-action="Index" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                    <i class="la la-reply"></i>Quay lại
                </a>&ensp;
                <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Cập nhật</button>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}