@section custom_style {

}

@section custom_script {

}
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Cập nhật tài khoản tài khoản
                    <span style="color:blue; font-weight:bold">@Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Username")</span>
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="Home" asp-action="ChangeEmail" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-7">
                    <!--begin::Group-->
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left">Email mới:</label>
                        <div class="col-9">
                            <input class="form-control" type="email"
                                   id="new_email" name="new_email" value="@ViewData["new_email"]"
                                   onmouseover="this.type='text'" onmouseout="this.type='email'">
                        </div>
                    </div>
                    <!--end::Group-->
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-lg-right text-left"></label>
                        <div class="col-9">
                            <span class="text-danger">@Html.ValidationMessage("error")</span>
                        </div>
                    </div>
                    <!--end::Group-->
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="la la-reply"></i>Quay lại</a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
