@{
    ViewData["Title"] = "Thông tin hỗ trợ";
}
@model IEnumerable<CSDLGia_ASP.Models.Systems.Supports>

<div class="text-center pt-10 pb-10">
    <h1 class="font-weight-bolder text-dark mb-6" style="text-transform:uppercase">PHẦN MỀM CƠ SỞ DỮ LIỆU VỀ GIÁ</h1>
</div>
@await Html.PartialAsync("~/Views/Admin/Home/Dashboard/Actions.cshtml")
@await Html.PartialAsync("~/Views/Admin/Home/Dashboard/Supports.cshtml")
