@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaRung
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var mahs = ViewData["Mahs"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin hồ sơ giá<small>&nbsp;rừng ( Modify )</small>
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="Giarung" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_rung_update">
            <div class="card-body">
                <input  asp-for="Madv" />
                <input  asp-for="Mahs" />
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Địa bàn</label>
                            <select class="form-control" id="MaDiaBan" name="MaDiaBan">
                            @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @(@Model.Madiaban==item.MaDiaBan ? "selected" : "" )>@item.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung hồ sơ</label>
                        <input type="text" class="form-control" asp-for="Thongtin" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf1))
                            {
                                <a href="~/UpLoad/File/DinhGia/@ViewData["Ipf1"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf1" accept=".doc, .pdf, .xlsx, .txt, .jpg" class="form-control" />
                    </div>

                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf2))
                            {
                                <a href="~/UpLoad/File/DinhGia/@ViewData["Ipf2"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf2" accept=".doc, .pdf, .xlsx, .txt, .jpg" class="form-control" />
                    </div>

                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf3))
                            {
                                <a href="~/UpLoad/File/DinhGia/@ViewData["Ipf3"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf3" accept=".doc, .pdf, .xlsx, .txt, .jpg" class="form-control" />
                    </div>

                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf4))
                            {
                                <a href="~/UpLoad/File/DinhGia/@ViewData["Ipf5"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf4" accept=".doc, .pdf, .xlsx, .txt, .jpg" class="form-control" />
                    </div>

                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf5))
                            {
                                <a href="~/UpLoad/File/DinhGia/@ViewData["Ipf5"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf5" accept=".doc, .pdf, .xlsx, .txt, .jpg" class="form-control" />
                    </div>

                </div>

            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaRung/Detail.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="Giarung" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateRung()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateRung() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm mức giá không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Thoidiem').val().trim() == '') {
                    toastr.error("Thời điểm mức giá không được để trống!", "Lỗi!!!")
                } else {
                    document.getElementById("frm_rung_update").submit();
                }
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }