@{
    int TotalRecord = ViewData["TotalRecord"] as int? ?? 0;
    int PageCurrent = ViewData["PageCurrent"] as int? ?? 0;
    int PageTotal = ViewData["PageTotal"] as int? ?? 0;
    var PageRange = ViewData["PageRange"] as List<int> ?? new List<int>();
}

<div class="row">
    <div class="col-xl-12" style="text-align:right">
        <div class="form-group fv-plugins-icon-container">
            @if (PageCurrent == 1)
            {
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1 disabled" disabled>
                    <i class="ki ki-bold-double-arrow-back icon-xs"></i>
                </button>

                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1 disabled" disabled>
                    <i class="ki ki-bold-arrow-back icon-xs"></i>
                </button>
            }
            else
            {
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1" onclick="ClickPage(1)" title="Trang đầu">
                    <i class="ki ki-bold-double-arrow-back icon-xs"></i>
                </button>

                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1" onclick="ClickPage((@PageCurrent -1) )" title="Trang trước">
                    <i class="ki ki-bold-arrow-back icon-xs"></i>
                </button>
            }

            @if (PageCurrent - 2 > 1 && PageTotal > 5)
            {
                <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1" onclick="ClickPage(1)">1</button>
                @if (PageCurrent - 3 != 1)
                {
                    <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1 disabled" disabled>...</button>
                }
            }

            @foreach (int p_r in PageRange)
            {
                @if (p_r == PageCurrent)
                {
                    <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1 btn-hover-primary active">@p_r</button>
                }
                else
                {
                    <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1" onclick="ClickPage(@p_r)">@p_r</button>
                }
            }

            @if (PageCurrent + 2 < PageTotal && PageTotal > 5)
            {

                @if (PageCurrent + 3 != PageTotal)
                {
                    <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1 disabled" disabled>...</button>
                }
                <button type="button" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1" onclick="ClickPage(@PageTotal)">@PageTotal</button>
            }

            @if (PageCurrent == PageTotal || PageTotal == 0)
            {
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1 disabled" disabled>
                    <i class="ki ki-bold-arrow-next icon-xs"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1 disabled" disabled>
                    <i class="ki ki-bold-double-arrow-next icon-xs"></i>
                </button>
            }
            else
            {
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1" onclick="ClickPage((@PageCurrent + 1))" title="Trang tiếp">
                    <i class="ki ki-bold-arrow-next icon-xs"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm btn-light mr-2 my-1" onclick="ClickPage(@PageTotal)" title="Trang cuối">
                    <i class="ki ki-bold-double-arrow-next icon-xs"></i>
                </button>
            }

        </div>
    </div>
</div>