@model CSDLGia_ASP.ViewModels.Systems.VMGroupPermissions
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
            $('.select2multi').select2();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    Thêm mới nhóm quyền truy cập hệ thống
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="DsNhomTaiKhoan" asp-action="Store" method="post">
            <input hidden id="KeyLink" name="KeyLink" asp-for="KeyLink" />
            <div class="card-body">
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin nhóm quyền:</label>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Tên nhóm tài khoản</label>
                            <input type="text" class="form-control" asp-for="TenNhomQ" />
                            <span asp-validation-for="TenNhomQ" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Chức năng</label>
                            <select class="form-control" asp-for="ChucNang">
                                <option value="TONGHOP">Đơn vị tổng hợp dữ liệu</option>
                                <option value="NHAPLIEU">Đơn vị nhập liệu</option>
                                <option value="QUANTRI">Quản trị hệ thống</option>
                                <option value="K">Khác</option>
                            </select>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Admin/Systems/DsNhomTaiKhoan/Permission.cshtml")
            </div>
            <div class="card-footer" style="text-align:center">
                <a asp-controller="DsNhomTaiKhoan" asp-action="Index" class="btn btn-danger">
                    <i class="la la-reply"></i>Quay lại
                </a>&ensp;
                <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
                <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Thêm mới</button>
            </div>
        </form>
        <!--end::Form-->
    </div>
    @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }