@{
    Layout = null;
}

@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv", "Index"))
{
    <li class="menu-section">
        <h4 class="menu-text">CSDL VỀ MỨC GIÁ HÀNG HÓA, DỊCH VỤ</h4>
        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
    </li>

    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia", "Index"))
    {
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_kknygia">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="svg-icon menu-icon">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                            <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="menu-text">Mức giá kê khai - đăng ký</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.ttdn", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_ttdn">
                            <a asp-controller="TtDnTd" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Thông tin doanh nghiệp</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.ttdntdxd", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_ttdntdxd">
                            <a asp-controller="#" asp-action="#" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Xét duyệt thông tin thay đổi doanh nghiệp</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgxmtxd">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Xi măng, thép xây dựng</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaXmTxd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaXmTxdXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="KkGiaXmTxd" asp-action="Search" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*---------sách------*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgsach">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Sách giáo khoa</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakksach">
                                            <a asp-controller="KkGiaSach" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakksachxd">
                                            <a asp-controller="KkGiaSachXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*---------etanol------*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgetanol">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Etanol nhiên liệu tự nhiên không biến tính;khí tự nhiên hóa lỏng(LNG);Khí thiên nhiên nén(CNG) 123</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakketanol">
                                            <a asp-controller="KkGiaEtanol" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakketanolxd">
                                            <a asp-controller="KkGiaEtanolXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*---------Tpcn------*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgtpcn">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Thực phẩm chức năng cho trẻ em 6 tuổi</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktpcn">
                                            <a asp-controller="KkGiaTpcn" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktpcnxd">
                                            <a asp-controller="KkGiaTpcnXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*van tai xe buyt*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgxmtxd">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Cước vận tải hành khách bằng xe buýt theo tuyến cố định</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaVtXb" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaVtXbXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*van tai xe khach*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgxmtxd">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Cước vận tải hành khách bằng ôtô tuyến cố định</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaVtXk" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakkxd", "Create"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaVtXkXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    @*van tai xe taxi*@
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgxmtxd">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Cước vận tải hành khách bằng xe taxi</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaVtXtx" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaVtXtxXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    <!--Than-->
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgthan">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Than</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaThan" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaThanXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    <!--Giấy -->
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkggiay">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Giấy in, viết ( dạng cuộn ) giấy in báo sản xuất trong nước</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaGiay" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaGiayXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }

                    <!--Thức ăn chăn nuôi-->
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kkgtacn">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">Thức ăn chăn nuôi</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                                            <a asp-controller="KkGiaTaCn" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Giá kê khai</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakkxd", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                                            <a asp-controller="KkGiaTaCnXd" asp-action="Index" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Thông tin hồ sơ xét duyệt</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Tìm kiếm thông tin</span>
                                            </a>
                                        </li>
                                    }

                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index"))
                                    {
                                        <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                                            <a asp-controller="" asp-action="" class="menu-link">
                                                <i class="menu-bullet menu-bullet-dot">
                                                    <span></span>
                                                </i>
                                                <span class="menu-text">Báo cáo thống kê</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }


}



