@{
    Layout = null;
}

@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong", "Index"))
{
    <li class="menu-section">
        <h4 class="menu-text">HỆ THỐNG</h4>
        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
    </li>
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_hethong">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="svg-icon menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3" />
                        <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z" fill="#000000" />
                    </g>
                </svg>
            </span>
            <span class="menu-text">Quản trị hệ thống</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                <li class="menu-item menu-item-parent" aria-haspopup="true">
                    <span class="menu-link">
                        <span class="menu-text"></span>
                    </span>
                </li>

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung", "Index"))
                {
                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_qtnguoidung">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Quản trị người dùng</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dsnhomtaikhoan", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dsnhomtaikhoan">
                                        <a asp-controller="DsNhomTaiKhoan" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách nhóm tài khoản</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dstaikhoan", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dstaikhoan">
                                        <a asp-controller="DsTaiKhoan" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách tài khoản</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dsdangky", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dsdangky">
                                        <a asp-controller="Register" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Tài khoản DN đăng ký kê khai giá</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong", "Index"))
                {
                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_qthethong">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Quản trị hệ thống</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsdiaban", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dsdiaban">
                                        <a asp-controller="DsDiaBan" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách địa bàn</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsdonvi", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dsdonvi">
                                        <a asp-controller="DsDonVi" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách đơn vị sử dụng</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsxaphuong", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dsxaphuong">
                                        <a asp-controller="DsXaPhuong" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách xã, phường, thị trấn</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.api", "Index"))
                                {
                                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_api">
                                        <a href="javascript:;" class="menu-link menu-toggle">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Kết nối API</span>
                                        </a>
                                        <div class="menu-submenu">
                                            <i class="menu-arrow"></i>
                                            <ul class="menu-subnav">

                                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.api.chung", "Index"))
                                                {
                                                    <li class="menu-item" aria-haspopup="true" id="menu_api_chung">
                                                        <a asp-controller="API" asp-action="ThietLapChung" class="menu-link">
                                                            <i class="menu-bullet menu-bullet-dot">
                                                                <span></span>
                                                            </i>
                                                            <span class="menu-text">Thông điệp chung</span>
                                                        </a>
                                                    </li>
                                                }

                                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.api.chitiet", "Index"))
                                                {
                                                    <li class="menu-item" aria-haspopup="true" id="menu_api_chitiet">
                                                        <a asp-controller="API" asp-action="ThietLapChiTiet" class="menu-link">
                                                            <i class="menu-bullet menu-bullet-dot">
                                                                <span></span>
                                                            </i>
                                                            <span class="menu-text">Thông điệp chi tiết</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.nhatky", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_nhatky">
                                        <a asp-controller="NhatKySuDung" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Nhật ký sử dụng</span>
                                        </a>
                                    </li>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dshotro", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dshotro">
                                        <a asp-controller="Support" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh sách cán bộ hỗ trợ</span>
                                        </a>
                                    </li>
                                }

                                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_tichhop">
                                    <a href="javascript:;" class="menu-link menu-toggle">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">Tích hợp</span>
                                    </a>
                                    <div class="menu-submenu">
                                        <i class="menu-arrow"></i>
                                        <ul class="menu-subnav">
                                            <li class="menu-item" aria-haspopup="true" id="menu_tichhop_kkg">
                                                <a asp-controller="KkGiaXmTxdXd" asp-action="Index" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-dot">
                                                        <span></span>
                                                    </i>
                                                    <span class="menu-text">Gửi dữ liệu Kê khai giá</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true" id="menu_tichhop_dkg">
                                                <a asp-controller="KkMhBogXd" asp-action="Index" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-dot">
                                                        <span></span>
                                                    </i>
                                                    <span class="menu-text">Gửi dữ liệu Đăng ký giá</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true" id="menu_tichhop_giahh">
                                                <a asp-controller="GiaHhDvkNhom" asp-action="Index" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-dot">
                                                        <span></span>
                                                    </i>
                                                    <span class="menu-text">Gửi dữ liệu Giá HH-DV</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true" id="menu_tichhop_giatn">
                                                <a asp-controller="GiaThueTaiNguyenXd" asp-action="Index" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-dot">
                                                        <span></span>
                                                    </i>
                                                    <span class="menu-text">Gửi dữ liệu Giá thuế tài nguyên</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.danhmuc", "Index"))
                {
                    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_qtdanhmuc">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Quản trị danh mục</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu">
                            <i class="menu-arrow"></i>
                            <ul class="menu-subnav">

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.danhmuc.dmnganhnghekd", "Index"))
                                {
                                    <li class="menu-item" aria-haspopup="true" id="menu_dmnganhnghekd">
                                        <a asp-controller="DmNganhKd" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh mục ngành nghề kinh doanh</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu_dmnhomhh">
                                        <a asp-controller="DmNhomHh" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh mục hàng hóa</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true" id="menu_dmnhomhh">
                                        <a asp-controller="DmChiTieuKinhTeViMo" asp-action="Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Danh mục chỉ tiêu kinh tế vĩ mô</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </li>
}



