@{
    Layout = null;
}

@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong", "Index"))
{
    <li class="menu-section">
        <h4 class="menu-text text-truncate">QUẢN TRỊ HỆ THỐNG</h4>
        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
    </li>
    <!--1.41 Quản trị người dùng  -->
    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi", "Index"))
    {
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_lp">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="svg-icon menu-icon">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                            <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="menu-text text-truncate">Quản trị người dùng </span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dsnhomtaikhoan", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dsnhomtaikhoan">
                            <a asp-controller="DsNhomTaiKhoan" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh sách nhóm tài khoản</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dstaikhoan", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dstaikhoan">
                            <a asp-controller="DsTaiKhoan" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh sách tài khoản</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.nguoidung.dsdangky", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dsdangky">
                            <a asp-controller="Register" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Tài khoản đăng ký</span>
                            </a>
                        </li>
                    }
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsdiaban", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dsdiaban">
                            <a asp-controller="DsDiaBan" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh sách địa bàn</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsdonvi", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dsdonvi">
                            <a asp-controller="DsDonVi" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh sách đơn vị sử dụng</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsxaphuong", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_dsxaphuong">
                            <a asp-controller="DsXaPhuong" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh sách xã, phường, thị trấn</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </li>
    }
    <!--1.42 Quản trị hệ thống  -->
    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi", "Index"))
    {
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_lp">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="svg-icon menu-icon">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                            <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="menu-text text-truncate">Quản trị hệ thống</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.danhmuc", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_dm">
                            <a asp-controller="GiaLePhiDm" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh mục</span>
                            </a>
                        </li>
                    }
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.thongtin", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tt">
                            <a asp-controller="GiaLePhi" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.xetduyet", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_ht">
                            <a asp-controller="GiaLePhiHt" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.timkiem", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tk">
                            <a asp-controller="GiaLePhi" asp-action="Search" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </li>
    }
    <!--1.43 Kết nối với các hệ thống thông tin khác  -->
    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi", "Index"))
    {
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_lp">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="svg-icon menu-icon">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                            <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="menu-text text-truncate">Kết nối với các hệ thống thông tin khác</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.danhmuc", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_dm">
                            <a asp-controller="GiaLePhiDm" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh mục</span>
                            </a>
                        </li>
                    }
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.thongtin", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tt">
                            <a asp-controller="GiaLePhi" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.xetduyet", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_ht">
                            <a asp-controller="GiaLePhiHt" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.timkiem", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tk">
                            <a asp-controller="GiaLePhi" asp-action="Search" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </li>
    }
    <!--1.44  Cấu hình công bố giá hàng hóa, dịch vụ trên trang web công bố giá  -->
    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi", "Index"))
    {
        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_lp">
            <a href="javascript:;" class="menu-link menu-toggle">
                <span class="svg-icon menu-icon">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                            <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="menu-text text-truncate">Cấu hình công bố giá hàng hóa, dịch vụ trên trang web công bố giá</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.danhmuc", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_dm">
                            <a asp-controller="GiaLePhiDm" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Danh mục</span>
                            </a>
                        </li>
                    }
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.thongtin", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tt">
                            <a asp-controller="GiaLePhi" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.xetduyet", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_ht">
                            <a asp-controller="GiaLePhiHt" asp-action="Index" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                            </a>
                        </li>
                    }

                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.lephi.timkiem", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_gialp_tk">
                            <a asp-controller="GiaLePhi" asp-action="Search" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </li>
    }
}



