@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDvGdDt;
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin hồ sơ giá<small>&nbsp;dịch vụ giáo dục đào tạo</small><br />
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaoDucDaoTao" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_tmnxh_store">
            <div class="card-body">
                <input hidden asp-for="Madv" />
                <input hidden asp-for="Mahs" />
                <input hidden asp-for="Madiaban" />
                <input hidden asp-for="PhanLoaiHoSo" />
                <input hidden asp-for="CodeExcel" />
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Số quyết định</label>
                            <input type="text" class="form-control" asp-for="Soqd" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Thời điểm*</label>
                            <input type="date" class="form-control" asp-for="Thoidiem" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Lộ trình từ năm*</label>
                            <input type="number" class="form-control" asp-for="Tunam" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Lộ trình đến năm</label>
                            <input type="number" class="form-control" asp-for="Dennam" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Mô tả*</label>
                            <input type="text" class="form-control" asp-for="Mota" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf1" type="file" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf2" type="file" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf3" type="file" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf4" type="file" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf5" type="file" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" />
                        </div>
                    </div>
                </div>


                @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaoDucDaoTao/Detail.cshtml")


            </div>
            <div class="card-footer" style="text-align:center">
                <a asp-controller="GiaoDucDaoTao" asp-action="Index" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                    <i class="la la-reply"></i>Quay lại
                </a>&ensp;
                <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
                <button type="button" class="btn btn-primary mr-2" onclick="ValidateGdDt()"><i class="la la-check"></i>Thêm mới</button>
            </div>
        </form>
        <!--end::Form-->
    </div>

    <script>
        function ValidateGdDt() {

            if ($('#Soqd').val().trim() == '') {
                toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Thoidiem').val().trim() == '') {
                    toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
                } else {
                    document.getElementById("frm_tmnxh_store").submit();
                }
            }
        }

    </script>
    @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }