@{
    var dmnganhkd = (IEnumerable<DmNganhKd>)ViewData["DmNganhKd"];
    var dmnghekd = (IEnumerable<DmNgheKd>)ViewData["DmNgheKd"];
}

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thêm mới thông tin lĩnh vực kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Ngành nghề</b></label>
                            <select class="form-control" id="manghe_create" name="manghe_create">
                                @foreach (var nganh in dmnganhkd)
                                {
                                    <optgroup label="@nganh.Tennganh">
                                        @{
                                            var dmnganhnghekd = dmnghekd.Where(t => t.Manganh == nganh.Manganh && t.Theodoi == "TD").ToList();
                                        }
                                        @foreach (var nghe in dmnganhnghekd)
                                        {
                                            <!option value="@nghe.Manghe" @((string)ViewData["Manghe"] == nghe.Manghe ? "selected" : "")>@nghe.Tennghe</!option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetStore()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SetStore() {
        $.ajax({
            url: '/DoanhNghiepCt/Store',
            type: 'POST',
            data: {
                Manghe: $('#manghe_create').val(),
                Madv: $('#Madv').val(),
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_ct_data').replaceWith(data.message);
                    $(document).ready(function() {
                        TableManaged4.init();
                    });
                    $('#Create_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/DoanhNghiepCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#frm_ct_data').replaceWith(data.message);
                    $(document).ready(function() {
                        TableManaged4.init();
                    });
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>