@{
    Layout = "_LayoutCongBo.cshtml";
}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/global/plugins/select2/select2.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="~/js/table-managed.js"></script>
    <script>
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>
}
@*@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/BackEnd/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    }

    @section custom_script{
    <script type="text/javascript" src="~/BackEnd/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/BackEnd/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/BackEnd/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
    }*@

@*Form Body*@
<div class="container">
    <div class="row margin-top-10">
        <div class=" col-sm-12">
            <!-- BEGIN PORTLET-->
            <!--div class="portlet light"-->
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet light" style="min-height: 587px">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs font-green-sharp"></i>
                                    <span class="caption-subject theme-font bold uppercase">Văn bản quản lý nhà nước về giá, phí lệ phí</span>
                                </div>
                                <div class="tools">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phân loại</label>
                                        <select class="form-control" name="phanloai" id="phanloai">
                                            <option value="all">--Tất cả--</option>
                                            <option value="gia">Văn bản về Giá</option>
                                            <option value="philephi">Văn bản Phí lệ phí</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <br>

                            <div class="portlet-body">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Đơn vị ban hành</th>
                                                <th style="text-align: center" width="5%">Số hiệu <br>văn bản</th>
                                                <th style="text-align: center">Nội dung</th>
                                                <th style="text-align: center">Ngày <br>áp dụng</th>
                                                <th style="text-align: center" width="5%">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- END SAMPLE TABLE PORTLET-->
                    </div>
                </div>

                <!--/div-->
                <!-- END PORTLET-->
            </div>
        </div>
    </div>
</div>