@{
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin ngành nghề
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Mã nghề*</label>
                            <input type="text" name="manghe_create" id="manghe_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên nghề*</label>
                            <input type="text" name="tennghe_create" id="tennghe_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Phân loại</label>
                            <select id="phanloai_create" name="phanloai_create" class="form-control">
                                <option value="Kê khai giá">Kê khai giá</option>
                                <option value="Đăng ký giá">Đăng ký giá</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Theo dõi</label>
                            <select id="theodoi_create" name="theodoi_create" class="form-control">
                                <option value="TD">Theo dõi</option>
                                <option value="DTD">Dừng theo dõi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Báo cáo</label>
                            <select id="baocao_create" name="baocao_create" class="form-control">
                                <option value="QD223">Quyết định số 223</option>
                                <option value="QD56">Quyết định số 56</option>
                                <option value="QD1096">Quyết định số 1096</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị quản lý*</label>
                            <select class="form-control select2multi" multiple="multiple" style="width:100%" id="madv_create" name="madv_create">
                                @foreach (var dv in dsdonvi)
                                {
                                    <option value="@dv.MaDv">@dv.TenDv</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()" id="btn_store">Thêm mới</button>
                <div id="loading_store" style="display:none">
                    <span class="mr-2 text-muted">Loading...</span>
                    <span class="spinner spinner-primary mr-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin hồ sơ
                    <span class="d-block text-muted pt-2 font-size-sm">Chỉnh sửa thông tin</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="frm_edit">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()" id="btn_update">Cập nhật</button>
                <div id="loading_update" style="display:none">
                    <span class="mr-2 text-muted">Loading...</span>
                    <span class="spinner spinner-primary mr-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="DanhMucKkDkg" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function Store() {
        document.getElementById("btn_store").style.display = "none";
        document.getElementById("loading_store").style.display = "block";
        if ($('#manghe_create').val() != '') {
            if ($('#tennghe_create').val() != '') {
                $.ajax({
                    url: '/DanhMucKkDkg/Store',
                    type: 'POST',
                    data: {
                        Madv: $('#madv_create').val(),
                        Manghe: $('#manghe_create').val(),
                        Tennghe: $('#tennghe_create').val(),
                        Phanloai: $('#phanloai_create').val(),
                        Baocao: $('#baocao_create').val(),
                        Theodoi: $('#theodoi_create').val(),
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 'success') {
                            toastr.success(data.message);
                            location.reload();
                        } else {
                            toastr.error(data.message, "Lỗi!");
                        }
                        document.getElementById("btn_store").style.display = "block";
                        document.getElementById("loading_store").style.display = "none";
                    }
                })
            } else {
                toastr.error("Tên nghề kinh doanh không được để trống", "Lỗi!");
                document.getElementById("btn_store").style.display = "block";
                document.getElementById("loading_store").style.display = "none";
            }
        } else {
            toastr.error("Mã nghề kinh doanh không được để trống", "Lỗi!");
            document.getElementById("btn_store").style.display = "block";
            document.getElementById("loading_store").style.display = "none";
        }
    }

    function Update() {
        document.getElementById("btn_update").style.display = "none";
        document.getElementById("loading_update").style.display = "block";
        if ($('#manghe_edit').val() != '') {
            if ($('#tennghe_edit').val() != '') {
                $.ajax({
                    url: '/DanhMucKkDkg/Update',
                    type: 'POST',
                    data: {
                        Madv: $('#madv_edit').val(),
                        Manghe: $('#manghe_edit').val(),
                        Tennghe: $('#tennghe_edit').val(),
                        Phanloai: $('#phanloai_edit').val(),
                        Baocao: $('#baocao_edit').val(),
                        Theodoi: $('#theodoi_edit').val(),
                        Id: $('#id_edit').val(),
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 'success') {
                            toastr.success("Cập nhật thành công!!!", "Thành công!");
                            location.reload();
                        } else {
                            toastr.error(data.message, "Lỗi!");
                        }
                        document.getElementById("btn_update").style.display = "block";
                        document.getElementById("loading_update").style.display = "none";
                    }
                })
            } else {
                toastr.error("Tên nghề kinh doanh không được để trống", "Lỗi!");
                document.getElementById("btn_update").style.display = "block";
                document.getElementById("loading_update").style.display = "none";
            }
        } else {
            toastr.error("Mã nghề kinh doanh không được để trống", "Lỗi!");
            document.getElementById("btn_update").style.display = "block";
            document.getElementById("loading_update").style.display = "none";
        }
    }

    function SetEdit(id) {
        $.ajax({
            url: '/DanhMucKkDkg/Edit',
            type: 'POST',
            data: {
                Id: id,
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_edit').replaceWith(data.message);
                    $('.select2multi').select2();
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }
</script>