<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin giá thuê đất,mặt nước
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script>

    function SetEdit(id_edit) {
        $.ajax({
            url: '/GiaThueMatDatMatNuocCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                    $('.select2multi').select2();
                    $(document).ready(function () {                       
                        MoneyDecimalMask();
                    });
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdate() {
        var dongia = $('#dongia1_edit').val().replace(/\./g, "").replace(/,/g, ".");
        var tyle1 = $('#tyle1_edit').val().replace(/\./g, "").replace(/,/g, ".");
        var tyle2 = $('#tyle2_edit').val().replace(/\./g, "").replace(/,/g, ".");
        var tyle3 = $('#tyle3_edit').val().replace(/\./g, "").replace(/,/g, ".");
        $.ajax({
            url: '/GiaThueMatDatMatNuocCt/Update',
            type: 'POST',
            data: {
                Loaidat: $('#loaidat_edit').val(),
                TyLe1: tyle1,
                TyLe2: tyle2,
                TyLe3: tyle3,
                Dongia1: dongia,
                Style: $('#style_edit').val(),
                NhapGia: $('#nhapgia_edit').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManagedClass.init();
                    });                   
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/GiaThueMatDatMatNuocCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>
