@model CSDLGia_ASP.ViewModels.VMImportExcel

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý nhận dữ liệu
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaNuocSh" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file excel dữ liệu mẫu:</label>
                <a href="~/UpLoad/File/DinhGia/Excel/FileExcelGianuocsh.xlsx" target="_blank" class="btn btn-link"
                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <span style="font-weight:bold;">Link tải file mẫu FileExcelGiaNuocSh.xlsx</span>
                </a>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
            </div>

            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file dữ liệu:</label>
            </div>

            <div class="row">
                <input hidden asp-for="MaDv">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Sheet*</label>
                        <input type="number" class="form-control" asp-for="Sheet" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận từ dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStart" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận đến dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStop" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>File dữ liệu</label> <br />
                        <input class="form-group" type="file" accept=".xls,.xlsx, .xlsm" asp-for="FormFile" />
                        <span asp-validation-for="FormFile" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaNuocSh" asp-action="Index" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Nhận dữ liệu</button>
        </div>
    </form>
    <!--end::Form-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}