@{

    var dsdvt = (IEnumerable<DmDvt>)ViewData["Donvitinh"];
    var PhanLoaiDichVu = (IEnumerable<GiaSpDvCuTheDm>)ViewData["PhanLoaiDichVu"];
 
}

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ cụ thể
                    <span class="d-block text-muted pt-2 font-size-sm">Thêm mới sản phẩm dịch vụ cụ thể</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="manhom_create" name="manhom_create" value="@ViewData["Manhom"]" />

                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>TT</label>
                            <input type="text" id="tt_create" name="tt_create" class="form-control" />
                        </div>
                    </div>
                  
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên sản phẩn dịch vụ</label>
                            <input type="text" id="tenspdv_create" name="tenspdv_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị tính</label>
                            <input type="text" id="dvt_create" name="dvt_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Mức giá 1</label>
                            <input type="text" id="mucgia1_create" name="mucgia1_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Mức giá 2</label>
                            <input type="text" id="mucgia2_create" name="mucgia2_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Sắp xếp</label>
                            <input type="text" id="sapxep_create" name="sapxep_create" class="form-control" />
                        </div>
                    </div>
                </div>
              
               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ cụ thể
                    <span class="d-block text-muted pt-2 font-size-sm">Chỉnh sửa sản phẩm dịch vụ cụ thể</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="edit_thongtin">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ cụ thể
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa thông tin sản phẩm dịch vụ cụ thể???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaSpDvCuTheDm" asp-action="Delete">
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function Dvt() {
        $('#Dvt_Modal').modal('hide');
        var gt = $('#dvt_add').val();
        $('#dvt_create').append(new Option(gt, gt, true, true));
        $('#dvt_create').val(gt).trigger('change');
    }
    function Plspdv() {
        $('#Plspdv_Modal').modal('hide');
        var gt = $('#plspdv_add').val();
        $('#plspdv_create').append(new Option(gt, gt, true, true));
        $('#plspdv_create').val(gt).trigger('change');
    }

    function Plspdvedit() {
        $('#Plspdv_Modal_edit').modal('hide');
        var gt = $('#plspdv_addedit').val();
        $('#plspdv_edit').append(new Option(gt, gt, true, true));
        $('#plspdv_edit').val(gt).trigger('change');
    }

    function Dvtedit() {
        $('#Dvt_Modal_edit').modal('hide');
        var gt = $('#dvt_addedit').val();
        $('#dvt_edit').append(new Option(gt, gt, true, true));
        $('#dvt_edit').val(gt).trigger('change');
    }

    function Store() {
        $.ajax({
            url: '/GiaSpDvCuTheDmCt/Store',
            type: 'POST',
            data: {
                tt: $('#tt_create').val(),
                manhom: $('#manhom_create').val(),
                tenspdv: $('#tenspdv_create').val(),
                dvt: $('#dvt_create').val(),
                mucgia1: $('#mucgia1_create').val(),
                mucgia2: $('#mucgia2_create').val(),
                sapxep: $('#sapxep_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function getmaxsapxep(manhom) {
        $.ajax({
            url: '/GiaSpDvCuTheCt/GetMaxSapXep',
            type: 'POST',
            data: {               
                Manhom: $('#manhom_create').val(),               
            },
            dataType: 'JSON',
            success: function (data) {
                $('#sapxep_create').val(data+1)
            }
        })
       
    }

    function getId(id, tennhom) {
        document.getElementById("id_delete").value = id;
        document.getElementById("tennhom_delete").innerHTML = tennhom;
    }

    function editId(id_edit) {
        $.ajax({
            url: '/GiaSpDvCuTheDmCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function Update() {
        if ($('#tenspdv_edit').val().trim() == '') {
            toastr.error("Tên sản phẩm không được để trống!!!", "Lỗi!");
        } else {
            $.ajax({
                url: '/GiaSpDvCuTheDmCt/Update',
                type: 'POST',
                data: {

                    tt: $('#tt_edit').val(),   
                    tenspdv: $('#tenspdv_edit').val(),
                    dvt: $('#dvt_edit').val(),
                    mucgia1: $('#mucgia1_edit').val(),
                    mucgia2: $('#mucgia2_edit').val(),
                    sapxep: $('#sapxep_edit').val(),
                  
                    Id: $('#id_edit').val()
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success(data.message);
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }

    function Lock() {
        $.ajax({
            url: '/GiaSpDvCuTheDmCt/Lock',
            type: 'POST',
            data: {
                Manhom: $('#manhom_lock').val(),
                Theodoi: $('#theodoi_lock').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function Excel() {
        if ($('#file_excel').val() == '') {
            toastr.error("File đính kèm không được để trống!!!", "Lỗi!");
        } else {
            var file = new FormData();
            file.append("Ten", $("#Ten_excel").val());
            file.append("Mota", $("#Mota_excel").val());
            file.append("Gia", $("#Gia_excel").val());
            file.append("Dvt", $("#Dvt_excel").val());
            file.append("Phanloai", $("#Phanloai_excel").val());
            file.append("Hientrang", $("#Hientrang_excel").val());
            file.append("FormFile", $("#file_excel")[0].files[0]);
            file.append("Sheet", $("#sheet_excel").val());
            file.append("LineStart", $("#linestart_excel").val());
            file.append("LineStop", $("#linestop_excel").val());
            file.append("Manhom", $("#Manhom").val());

            $.ajax({
                url: '/GiaSpDvCuTheDmCt/Excel',
                type: 'POST',
                data: file,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Thêm mới thành công!!!", "Thành công!");
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }
</script>