@model CSDLGia_ASP.Models.Manages.DinhGia.PhiLePhi

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin hồ sơ
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="edit_thongtin"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SetEdit(Id) {
        $.ajax({
            url: '/PhiLePhiCt/Edit',
            type: 'POST',
            data: {
                Id: Id
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);
                    MoneyDecimalMask();
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdate() {
        var DonGia = $('#dongia_edit').val().replace(/\./g, "").replace(/,/g, ".");
        $.ajax({
            url: '/PhiLePhiCt/Update',
            type: 'POST',
            data: {
                Mahs: $('#Mahs').val(),
                GhiChu: $('#ghichu_edit').val(),
                Dongia: DonGia,
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#Edit_Modal').modal("hide");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>