<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<form id="frm_philephict" action="" method="post">
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Chỉnh sửa thông tin hồ sơ
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="edit_thongtin">
                    <input type="hidden" value="@ViewData["Mahs"]" id="mahs_create" name="mahs_create" />
                    <input type="hidden" id="id" name="Id" />
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Mã số*</label>
                                <input type="text" id="MaSo" name="MaSo" class="form-control" />
                            </div>
                        </div>

                        <div class="col-xl-9">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Nội dung</label>
                                <input type="text" id="ChiTieu" name="ChiTieu" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Sắp xếp</label>
                                <input type="text" id="STT" name="STT" class="form-control" />
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số thự tự hiển thị</label>
                                <input type="text" id="HienThi" name="HienThi" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cấp độ</label>
                                <input type="text" id="CapDo" name="CapDo" class="form-control " style="font-weight: bold" />
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Mã số gốc</b></label>
                                <input type="text" id="MaSoGoc" name="MaSoGoc" class="form-control" style="font-weight: bold" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Mức thu</b></label>
                                <input type="text" id="Dongia" name="Dongia" class="form-control money text-right" style="font-weight: bold" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function SetEdit(Id, maSo, chiTieu, sTT, hienThi, capDo, maSoGoc, donGia) {

    }

    function Add(Id) {
        $('#frm_philephict').find("[name='Id']").val(Id);
    }

    function SetUpdate() {
        var formData = new FormData($('#frm_philephict')[0]);
        $.ajax({
            url: '/PhiLePhiCt/Update',
            type: 'POST',
            cache: false,
            dataType: false,
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/PhiLePhiCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>