@{
    Layout = null;
}
<!--Giá Thuê mặt đất,nước-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text">Giá thuê mặt đất,mặt nước</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn_dm">
                        <a asp-controller="GiaThueDNNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text">Danh mục </span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn_tt">
                        <a asp-controller="GiaThueDN" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn_ht">
                        <a asp-controller="GiaThueDNHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text">Xét duyệt hồ sơ </span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn_tk">
                        <a asp-controller="GiaThueDN" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmdmn_bc">
                        <a asp-controller="GiaThueDNBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Rừng-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgr">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá rừng">Giá rừng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung.danhmuc", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgr_dm">
                        <a asp-controller="GiarungDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục loại rừng</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgr_tt">
                        <a asp-controller="Giarung" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgr_ht">
                        <a asp-controller="GiarungHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgr_tk">
                        <a asp-controller="Giarung" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.rung.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgr_bc">
                        <a asp-controller="GiarungBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Thuê mua nhà-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá thuê,mua nhà xã hội">Giá thuê,mua nhà xã hội</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha.danhmuc", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh_dm">
                        <a asp-controller="GiathuemuanhaxhDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh_tt">
                        <a asp-controller="Giathuemuanhaxh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh_xd">
                        <a asp-controller="GiathuemuanhaxhXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh_tk">
                        <a asp-controller="Giathuemuanhaxh" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuemuanha.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtmnxh_bc">
                        <a asp-controller="GiathuemuanhaxhBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!-- Tài Sản Công  -->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong", "Index"))
{
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_tsc">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá tài sản công">Giá tài sản công</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giatsc_dm">
                        <a asp-controller="TaiSanCongDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục </span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giatsc_tt">
                        <a asp-controller="TaiSanCong" asp-action="Index" class="menu-link">
                            <i class="menu-bullet  menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giatsc_ht">
                        <a asp-controller="TaiSanCongHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet  menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giatsc_tk">
                        <a asp-controller="TaiSanCong" asp-action="Search" class="menu-link">
                            <i class="menu-bullet  menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.taisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giatsc_bc">
                        <a asp-controller="TaiSanCongBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Giá giao dịch bất động sản-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaodichbds", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá giao dịch bất động sản">Giá giao dịch bất động sản</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaodichbds.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds_dm">
                        <a asp-controller="GiaGiaoDichBDSNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục </span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaodichbds.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds_tt">
                        <a asp-controller="GiaGiaoDichBDS" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaodichbds.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds_xd">
                        <a asp-controller="GiaGiaoDichBDSXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds_tk">
                        <a asp-controller="GiaGiaoDichBDS" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuedatnuoc.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichbds_bc">
                        <a asp-controller="GiaGiaoDichDBDSBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}


<!--Nước sinh hoạt-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá nuớc sạch sinh hoạt">Giá nuớc sạch sinh hoạt</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.danhmucvung", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_dmkhung">
                        <a asp-controller="GiaNuocShDmKhung" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục khung</span>
                        </a>
                    </li>
                }
               @*  @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.danhmuckhung", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_dmvung">
                        <a asp-controller="GiaNuocShDmVung" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục vùng</span>
                        </a>
                    </li>
                } *@
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_tt">
                        <a asp-controller="GiaNuocSh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_xd">
                        <a asp-controller="GiaNuocShXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_tk">
                        <a asp-controller="GiaNuocSh" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_bc">
                        <a asp-controller="GiaNuocShBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Thuê tài sản công-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá thuê tài sản công">Giá thuê tài sản công</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.danhmuc", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc_dm">
                        <a asp-controller="GiaThueTSanCongDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc_tt">
                        <a asp-controller="GiaThueTSanCong" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc_ht">
                        <a asp-controller="GiaThueTSanCongHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc_tk">
                        <a asp-controller="GiaThueTSanCong" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtsc_bc">
                        <a asp-controller="GiaThueTSanCongBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Dịch vụ công ích-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá SP, DVCI, DVSNC, HH- DV đặt hàng">Giá SP, DVCI, DVSNC, HH- DV đặt hàng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich.danhmuc", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci_dm">
                        <a asp-controller="GiaSpDvCongIchNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci_tt">
                        <a asp-controller="GiaSpDvCongIch" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci_ht">
                        <a asp-controller="GiaSpDvCongIchHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci_tk">
                        <a asp-controller="GiaSpDvCongIch" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.dichvucongich.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdvci_bc">
                        <a asp-controller="GiaSpDvCongIchBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Dịch vụ giáo dục đào tạo-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dggddt">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Dịch vụ giáo dục đào tạo">Dịch vụ giáo dục đào tạo</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao.danhmuc", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dggddt_dm">
                        <a asp-controller="GiaoDucDaoTaoNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dggddt_tt">
                        <a asp-controller="GiaoDucDaoTao" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dggddt_ht">
                        <a asp-controller="GiaoDucDaoTaoHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dggddt_tk">
                        <a asp-controller="GiaoDucDaoTao" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giaoducdaotao.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dggddt_bc">
                        <a asp-controller="GiaoDucDaoTaoBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Dịch vụ khám chữa bệnh-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Dịch vụ khám chữa bệnh</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.danhmuc", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb_dm">
                        <a asp-controller="DvKhamChuaBenhNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb_tt">
                        <a asp-controller="DvKhamChuaBenh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb_ht">
                        <a asp-controller="DvKhamChuaBenhHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb_tk">
                        <a asp-controller="DvKhamChuaBenh" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkcb_bc">
                        <a asp-controller="DvKhamChuaBenhBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Trợ giá trợ cước-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Mức trợ giá trợ cước">Mức trợ giá trợ cước</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc.danhmuc", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc_dm">
                        <a asp-controller="TroGiaTroCuocDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc_tt">
                        <a asp-controller="TroGiaTroCuoc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc_ht">
                        <a asp-controller="TroGiaTroCuocHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc_tk">
                        <a asp-controller="TroGiaTroCuoc" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.trogiatrocuoc.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgtgtc_bc">
                        <a asp-controller="TroGiaTroCuocBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Thuế tài nguyên-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá thuế tài nguyên">Giá thuế tài nguyên</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn.danhmuc", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn_dm">
                        <a asp-controller="GiaThueTaiNguyenNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn_tt">
                        <a asp-controller="GiaThueTaiNguyen" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn_xd">
                        <a asp-controller="GiaThueTaiNguyenXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn_tk">
                        <a asp-controller="GiaThueTaiNguyen" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetn.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgthuetn_bc">
                        <a asp-controller="GiaThueTaiNguyenBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Giá hàng hóa tại siêu thị-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgsieuthi">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá hàng hóa tại siêu thị">Giá hàng hóa tại siêu thị</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @* @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.danhmucsieuthi", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_dmsieuthi">
                        <a asp-controller="GiaHangHoaTaiSieuThiDmSieuThi" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục siêu thị</span>
                        </a>
                    </li>
                } *@
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.danhmuchanghoataisieuthi", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgnsh_dmhhtaisieuthi">
                        <a asp-controller="GiaHangHoaTaiSieuThiDm" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục hàng hoá</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgsieuthi_tt">
                        <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgsieuthi_xd">
                        <a asp-controller="GiaHangHoaTaiSieuThiXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgsieuthi_tk">
                        <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgsieuthi_bc">
                        <a asp-controller="GiaHangHoaTaiSieuThiBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}