@{
    Layout = null;
}
<!--Đất cụ thể(đất phân loại)-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgdct">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Giá đất cụ thể</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdct_dm">
                        <a asp-controller="DmLoaiDat" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Bảng giá đất</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdct_tt">
                        <a asp-controller="GiaDatPl" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdct_ht">
                        <a asp-controller="GiaDatPlHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdct_tk">
                        <a asp-controller="GiaDatPl" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.datcuthe.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgdct_bc">
                        <a asp-controller="GiaDatPlBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Khung giá đất-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khunggd", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgkhunggd">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Khung giá đất">Khung giá đất</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khunggd.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkhunggd_tt">
                        <a asp-controller="GiaKhungGiaDat" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khunggd.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkhunggd_xd">
                        <a asp-controller="GiaKhungGiaDatXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khunggd.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkhunggd_tk">
                        <a asp-controller="GiaKhungGiaDat" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khunggd.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dgkhunggd_bc">
                        <a asp-controller="GiaKhungGiaDatBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!-- Bảng giá các loại đất  -->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá đất theo địa bàn">Bảng giá các loại đất</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb.thongtu", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban_t4">
                        <a asp-controller="TtGiaDatDiaBan" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Quyết định giá đất theo địa bàn</span>
                        </a>
                    </li>
                }


                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban_tt">
                        <a asp-controller="GiaDatDiaBan" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá đất theo địa bàn</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban_xd">
                        <a asp-controller="GiaDatDiaBanXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban_tk">
                        <a asp-controller="GiaDatDiaBan" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tim kiếm thống kê</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giadatdb.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadatdiaban_bc">
                        <a asp-controller="GiaDatDiaBanBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Giá đất giao dịch thực tế trên thị trường-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá đất giao dịch thực tế trên thị trường">Giá đất giao dịch thực tế trên thị trường</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong.danhmuc", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong_dm">
                        <a asp-controller="GiaGiaoDichDatNhom" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh mục </span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong_tt">
                        <a asp-controller="GiaGiaoDichDat" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong_xd">
                        <a asp-controller="GiaGiaoDichDatXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong_tk">
                        <a asp-controller="GiaGiaoDichDat" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giagiaodichdattrenthitruong.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_dg_giaodichdattrenthitruong_bc">
                        <a asp-controller="GiaGiaoDichDatBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!-- Giá Trúng thầu sd đất  -->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.daugiadat", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_dgd">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Giá trúng thầu quyền sử dụng đất">Giá trúng thầu quyền sử dụng đất</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.daugiadat.thongtin", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadgd_tt">
                        <a asp-controller="GiaTrungThauDat" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.daugiadat.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadgd_ht">
                        <a asp-controller="GiaTrungThauDatHt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Xét duyệt hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.daugiadat.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadgd_tk">
                        <a asp-controller="GiaTrungThauDat" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giadgd_bc">
                        <a asp-controller="GiaTrungThauDatBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}