@model CSDLGia_ASP.Models.Manages.DinhGia.GiaKhungGiaDat
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                HỒ SƠ GIÁ KHUNG GIÁ ĐẤT
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaKhungGiaDat" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_giakhunggd_update">

        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <input hidden asp-for="Madv">
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Ipf1" />

            <div class="row">
                @*<div class="col-xl-6">
                <div class="form-group">
                <label>Địa bàn</label>
                <input type="text" asp-for="Soqd" class="form-control" />
                </div>
                </div>
                <div class="col-xl-6">
                <div class="form-group">
                <label>Xã phường</label>
                <input type="date" id="Thoidiem" name="Thoidiem" class="form-control">
                </div>
                </div>*@
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn vị ban hành*</label>
                        <input type="text" asp-for="Dvbanhanh" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ký hiệu văn bản*</label>
                        <input type="text" asp-for="Kyhieuvb" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày ban hành*</label>
                        <input type="date" asp-for="Thoidiem" class="form-control">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày áp dụng*</label>
                        <input type="date" asp-for="Ngayapdung" class="form-control">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Tiêu đề*</label>
                        <textarea class="form-control" rows="2" asp-for="Tieude"></textarea>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="2" asp-for="Ghichu"></textarea>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                                File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf1))
                            {
                                <a href="~/UpLoad/File/DinhGia/@Model.Ipf1" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf1upload" accept=".doc, .pdf, .xlsx, .txt" class="form-control" />
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaKhungGiaDat/DanhSach/Detail.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaKhungGiaDat" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValKhunggd()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValKhunggd() {
        if ($('#Dvbanhanh').val().trim() == '') {
            toastr.error("Đơn vị ban hành không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Kyhieuvb').val().trim() == '') {
                toastr.error("Ký hiệu văn bản không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Thoidiem').val().trim() == '') {
                    toastr.error("Ngày ban hành không được để trống!", "Lỗi!!!")
                } else {
                    if ($('#Ngayapdung').val().trim() == '') {
                        toastr.error("Ngày áp dụng không được để trống!", "Lỗi!!!")
                    } else {
                        document.getElementById("frm_giakhunggd_update").submit();
                    }

                }
            }
        }
    }
</script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }