@{
    Layout = "_LayoutReports";
    var chitiet = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBanCt>)ViewData["Ct"];
    var record_ct = 1;

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số:......</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày......tháng......năm......</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;text-transform:uppercase">
    Báo cáo bảng giá các loại đất
</p>
<p style="text-align: right; font-style:italic;">
    Đơn vị tính: nghìn đồng/ m2
</p>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
            <br /><br /><br /><br />
            <span style="font-style:italic; font-weight: bold">Nơi nhận</span><br />
            <span>- UBND tỉnh;</span><br />
            <span>- Bộ tài chính;</span><br />
            <span>- Lưu: VT, QLGCS.</span>
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold">
                THỦ TRƯỞNG ĐƠN VỊ
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td colspan="9" style="font-weight: bold; padding-top: 90px"></td>
        <td colspan="9" style="font-weight: bold; padding-top: 90px"></td>
    </tr>
</table>