@{
    Layout = null;
}
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.ttdn", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_ttdn">
        <a asp-controller="TtDnTd" asp-action="Index" class="menu-link">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Thông tin doanh nghiệp</span>
        </a>
    </li>
}

@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.ttdntdxd", "Index"))
{
    <li class="menu-item" aria-haspopup="true" id="menu_ttdntdxd">
        <a asp-controller="TtDnTdXd" asp-action="Index" class="menu-link">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Xét duyệt thông tin thay đổi doanh nghiệp</span>
        </a>
    </li>
}

<!--Dịch vụ lưu trú-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Dvlt") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgdvlt">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Dịch vụ lưu trú</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdvltcskd">
                        <a asp-controller="KkGiaDvltCskd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Danh sách CSKD</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdvlt">
                        <a asp-controller="KkGiaDvlt" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkxddvlt">
                        <a asp-controller="KkGiaDvltXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktkdvlt">
                        <a asp-controller="KkGiaDvlt" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdvlt.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbcdvlt">
                        <a asp-controller="KkGiaDvltBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Xi măng thép xây dựng-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "XmThepXd") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgxmtxd">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Xi măng, thép xây dựng">Xi măng, thép xây dựng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakk">
                        <a asp-controller="KkGiaXmTxd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkxd">
                        <a asp-controller="KkGiaXmTxdXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktk">
                        <a asp-controller="KkGiaXmTxd" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbc">
                        <a asp-controller="KkGiaXmTxdBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Than-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Than") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgthan">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Than</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkthan">
                        <a asp-controller="KkGiaThan" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkthanxd">
                        <a asp-controller="KkGiaThanXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkthantk">
                        <a asp-controller="KkGiaThan" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgthan.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkthanbc">
                        <a asp-controller="KkGiaThanBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Thức ăn chăn nuôi-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "ThucAnChanNuoi") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgtacn">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Thức ăn chăn nuôi</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktacn">
                        <a asp-controller="KkGiatacn" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktacnxd">
                        <a asp-controller="KkGiaTaCnXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktacntk">
                        <a asp-controller="KkGiaTaCn" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtacn.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktacnbc">
                        <a asp-controller="KkGiaTaCnBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Giấy -->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Giay") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkggiay">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Giấy in, viết ( dạng cuộn ) giấy in báo sản xuất trong nước</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkgiay">
                        <a asp-controller="KkGiaGiay" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkgiayxd">
                        <a asp-controller="KkGiaGiayXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkgiaytk">
                        <a asp-controller="KkGiaGiay" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkggiay.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkgiaybc">
                        <a asp-controller="KkGiaGiayBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Sách-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "SachGk") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgsach">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Sách giáo khoa</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakksach">
                        <a asp-controller="KkGiaSach" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakksachxd">
                        <a asp-controller="KkGiaSachXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsach.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktksach">
                        <a asp-controller="KkGiaSach" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbcsach">
                        <a asp-controller="KkGiaSachBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Etanol-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Etanol") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgetanol">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Etanol nhiên liệu tự nhiên không biến tính;khí tự nhiên hóa lỏng(LNG);Khí thiên nhiên nén(CNG)</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakketanol">
                        <a asp-controller="KkGiaEtanol" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakketanolxd">
                        <a asp-controller="KkGiaEtanolXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktketanol">
                        <a asp-controller="KkGiaEtanol" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbcetanol">
                        <a asp-controller="KkGiaEtanolBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--TPCN-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "ThucPhamCn") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgtpcn">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Thực phẩm chức năng cho trẻ em 6 tuổi">Thực phẩm chức năng cho trẻ em 6 tuổi</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktpcn">
                        <a asp-controller="KkGiaTpcn" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgtpcn.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktpcnxd">
                        <a asp-controller="KkGiaTpcnXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktktpcn">
                        <a asp-controller="KkGiaTpcn" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgetanol.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbcTpcn">
                        <a asp-controller="KkGiaTpcnBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Vận tải xe buýt-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangXeBuyt") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxb">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận tải hành khách bằng xe buýt theo tuyến cố định">Cước vận tải hành khách bằng xe buýt theo tuyến cố định</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxb">
                        <a asp-controller="KkGiaVtXb" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbxd">
                        <a asp-controller="KkGiaVtXbXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbbc">
                        <a asp-controller="KkGiaVtXbBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbtk">
                        <a asp-controller="KkGiaVtXb" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Vận tải xe khách-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangOtoCoDinh") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxk">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận tải hành khách bằng ôtô tuyến cố định">Cước vận tải hành khách bằng ôtô tuyến cố định</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxk">
                        <a asp-controller="KkGiaVtXk" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxkxd">
                        <a asp-controller="KkGiaVtXkXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxkbc">
                        <a asp-controller="KkGiaVtXkBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxktk">
                        <a asp-controller="KkGiaVtXk" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Vận tải xe taxi-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangTaXi") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxtx">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận tải hành khách bằng xe taxi">Cước vận tải hành khách bằng xe taxi</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtx">
                        <a asp-controller="KkGiaVtXtx" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxxd">
                        <a asp-controller="KkGiaVtXtxXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxbc">
                        <a asp-controller="KkGiaVtXtxBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxtk">
                        <a asp-controller="KkGiaVtXtx" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Vật liệu xây dựng-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.vlxd", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VlXd") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvlxd">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Vật liệu xây dựng">Vật liệu xây dựng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.vlxd.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvlxd">
                        <a asp-controller="KkGiaVlXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.vlxd.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvlxdxd">
                        <a asp-controller="KkGiaVlXdXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.vlxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvlxdtk">
                        <a asp-controller="KkGiaVlXd" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.vlxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvlxdbc">
                        <a asp-controller="KkGiaVlXdBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Dịch vụ lữ hành-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgluhanh", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "LuHanh") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgluhanh">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Dịch vụ lữ hành">Dịch vụ lữ hành</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgluhanh.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_ttluhanh">
                        <a asp-controller="ThongTinKkGiaLuHanh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgluhanh.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_xdluhanh">
                        <a asp-controller="XetDuyetKkGiaLuHanh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgluhanh.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_tkluhanh">
                        <a asp-controller="ThongTinKkGiaLuHanh" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgluhanh.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_bcluhanh">
                        <a asp-controller="BaoCaoKkGiaLuHanh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}