<!--Đất san lấp-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdatsanlap", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VlXdDatSanlap") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgdatsanlap">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Vật liệu xây dựng: đất san lấp">Vật liệu xây dựng: đất san lấp</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdatsanlap.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdatsanlap">
                        <a asp-controller="KkGiaDatSanLap" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdatsanlap.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdatsanlapxd">
                        <a asp-controller="KkGiaDatSanLapXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdatsanlap.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdatsanlaptk">
                        <a asp-controller="KkGiaDatSanLap" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdatsanlap.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdatsanlapbc">
                        <a asp-controller="KkGiaDatSanLapBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Đá cát sạn-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcatsan", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VlXdCatSan") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgcatsan">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Vật liệu xây dựng: cát, sạn">Vật liệu xây dựng: cát, sạn</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcatsan.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcatsan">
                        <a asp-controller="KkGiaCatSan" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcatsan.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcatsanxd">
                        <a asp-controller="KkGiaCatSanXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcatsan.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktkcatsan">
                        <a asp-controller="KkGiaCatSan" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbccatsan">
                        <a asp-controller="KkGiaCatSanBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Đá xây dựng-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdaxaydung", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VlXdDaXayDung") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgdaxaydung">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Vật liệu xây dựng: đá xây dựng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdaxaydung.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdaxaydung">
                        <a asp-controller="KkGiaDaXayDung" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdaxaydung.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdaxaydungxd">
                        <a asp-controller="KkGiaDaXayDungXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdaxaydung.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdaxaydungtk">
                        <a asp-controller="KkGiaDaXayDung" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgdaxaydung.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkdaxaydungbc">
                        <a asp-controller="KkGiaDaXayDungBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Vận tải xe buýt-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangXeBuyt") == "DN")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxb">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Cước vận tải hành khách bằng xe buýt theo tuyến cố định</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxb">
                        <a asp-controller="KkGiaVtXb" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbxd">
                        <a asp-controller="KkGiaVtXbXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbbc">
                        <a asp-controller="KkGiaVtXbBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxb.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxbtk">
                        <a asp-controller="KkGiaVtXb" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Vận tải xe khách-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangOtoCoDinh") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxk">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận tải hành khách bằng ôtô tuyến cố định">Cước vận tải hành khách bằng ôtô tuyến cố định</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxk">
                        <a asp-controller="KkGiaVtXk" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxkxd">
                        <a asp-controller="KkGiaVtXkXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxkbc">
                        <a asp-controller="KkGiaVtXkBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxktk">
                        <a asp-controller="KkGiaVtXk" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Vận tải xe taxi-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangTaXi") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvtxtx">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận tải hành khách bằng xe taxi">Cước vận tải hành khách bằng xe taxi</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtx">
                        <a asp-controller="KkGiaVtXtx" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxxd">
                        <a asp-controller="KkGiaVtXtxXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxbc">
                        <a asp-controller="KkGiaVtXtxBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvtxtxtk">
                        <a asp-controller="KkGiaVtXtx" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Cước vận chuyển-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkcvchk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "VanTaiKhachBangXeBuyt") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgvchk">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Cước vận chuyển hành khách: xe buýt, xe điện, bè mảng">Cước vận chuyển hành khách: xe buýt, xe điện, bè mảng</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkcvchk.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvchk">
                        <a asp-controller="KkCuocVcHk" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkcvchk.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvchkxd">
                        <a asp-controller="KkCuocVcHkXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkcvchk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvchkbc">
                        <a asp-controller="KkCuocVcHkBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkcvchk.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkvchktk">
                        <a asp-controller="KkCuocVcHk" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}

<!--Ca huế-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcahue", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "CaHue") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgcahue">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Giá dịch vụ xem ca Huế trên sông Hương</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcahue.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcahue">
                        <a asp-controller="KkGiaDvCh" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcahue.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcahuexd">
                        <a asp-controller="KkGiaDvChXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcahue.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcahuebc">
                        <a asp-controller="KkGiaDvChBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo tổng hợp</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgcahue.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkcahuetk">
                        <a asp-controller="KkGiaDvCh" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Siêu thị-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsieuthi", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "SieuThi") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkgsieuthi">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate">Siêu thị</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsieuthi.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giasieuthikk">
                        <a asp-controller="KkGiaSieuThi" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsieuthi.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakksieuthixd">
                        <a asp-controller="KkGiaSieuThiXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgxmtxd.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakksieuthitk">
                        <a asp-controller="KkGiaSieuThi" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgsieuthi.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakksieuthibc">
                        <a asp-controller="KkGiasieuThiBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </li>
}

<!--Học phí lái xe-->
@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "HocPhiDaoTaoLaiXe") == "1")
{
    <li class="menu-item" aria-haspopup="true" id="menu_kkghplx">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-line">
                <span></span>
            </i>
            <span class="menu-text text-truncate" title="Mức thu học phí đào tạo lái xe cơ giới đường bộ">Mức thu học phí đào tạo lái xe cơ giới đường bộ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx.giakk", "Index") || Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Level") == "DN")
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkhplx">
                        <a asp-controller="KkGiaHplx" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Giá kê khai</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx.giakkxd", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkhplxxd">
                        <a asp-controller="KkGiaHplxXd" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Thông tin hồ sơ xét duyệt</span>
                        </a>
                    </li>
                }

                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakktkhplx">
                        <a asp-controller="KkGiaHplx" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Tìm kiếm thông tin</span>
                        </a>
                    </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkghplx.giakk", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_giakkbcHplx">
                        <a asp-controller="KkGiaHplxBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                                <span></span>
                            </i>
                            <span class="menu-text text-truncate">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </li>
}