@using Newtonsoft.Json

@{
    var session = HttpContextAccessor?.HttpContext?.Session;
    IEnumerable<DmNgheKd> DanhSachNgheKd = null;

    if (session != null)
    {
        var sessionData = session.GetString("KeKhaiDangKyGia");
        DanhSachNgheKd = JsonConvert.DeserializeObject<IEnumerable<DmNgheKd>>(sessionData);
    }

    DanhSachNgheKd ??= Enumerable.Empty<DmNgheKd>();
}

@if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia", "Index"))
{
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="menu_kekhaidangkygia">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="svg-icon menu-icon">
                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                        <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span>
            <span class="menu-text" title="Kê khai đăng ký giá">Kê khai- đăng ký giá</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.thongtindonvi", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_thongtindonvi">
                        <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text" title="">Thông tin đơn vị</span>
                    </a>                   
                </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.xetduyetthongtindonvi", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_xetduyetthongtindonvi">
                        <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text" title="">Xét duyệt chỉnh sửa thông tin đơn vị</span>
                    </a>
                </li>
                }
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.xetduyet", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_xetduyet">
                        <a asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Thông tin xét duyệt</span>
                        </a>
                    </li>
                }
            @*     @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.timkiem", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_timkiem">
                        <a asp-controller="GiaHhDvCn" asp-action="Search" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Tìm kiếm hồ sơ</span>
                        </a>
                    </li>
                } *@
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.baocao", "Index"))
                {
                    <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_baocao">
                        <a asp-controller="GiaHhDvCnBc" asp-action="Index" class="menu-link">
                            <i class="menu-bullet menu-bullet-line">
                                <span></span>
                            </i>
                            <span class="menu-text">Báo cáo thống kê</span>
                        </a>
                    </li>
                }
                @foreach (var item in DanhSachNgheKd)
                {
                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.thongtin", "Index"))
                    {
                        <li class="menu-item" aria-haspopup="true" id="menu_kekhaidangkygia_thongtin_@item.Manghe">
                            <a asp-controller="KeKhaiDangKyGiaCsKd" asp-action="Index" asp-route-MaNghe="@item.Manghe" class="menu-link">
                                <i class="menu-bullet menu-bullet-line">
                                    <span></span>
                                </i>
                                <span class="menu-text">@item.Phanloai @item.Tennghe</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </li>
}