@{
    int sohsduyet = Convert.ToInt32(ViewData["SoHsDuyet"]) + 1;
}
<!--Trả lại Modal-->
<div class="modal fade" id="TraLai_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="TraLai" id="frm_tralai" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Lý do trả lại hồ sơ*
                    </h3>
                </div>
                <div class="modal-body">
                    <p style="color: blue">Hồ sơ bị sẽ chuyển lại cho cơ quan gửi lên để có thể chỉnh sửa hồ sơ!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <textarea class="form-control" id="Lydo" name="Lydo" cols="12" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <input hidden id="id_tralai" name="id_tralai" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Trả lại</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Duyet Modal-->
<div class="modal fade" id="Duyet_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="Duyet" method="post" id="frm_duyet">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý duyệt hồ sơ
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số quyết định</label>
                                <label class="form-control" id="soqd_duyet" name="soqd_duyet"></label>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số hồ sơ duyệt</label>
                                <input class="form-control" id="sohoso_duyet" name="sohoso_duyet" value="@sohsduyet" readonly>
                            </div>
                        </div>
                    </div>
                    <input hidden id="mahs_duyet" name="mahs_duyet" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="Duyet()">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Hủy Duyet Modal-->
<div class="modal fade" id="HuyDuyet_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="HuyDuyet" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hủy duyệt hồ sơ
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số quyết định</label>
                                <label class="form-control" id="soqd_huyduyet" name="soqd_huyduyet"></label>
                            </div>
                        </div>
                    </div>
                    <input hidden id="mahs_huyduyet" name="mahs_huyduyet" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Cong Bo Modal-->
<div class="modal fade" id="CongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="CongBo" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý công bố?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="mahs_cb" name="mahs_cb" type="hidden" />
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số quyết định</label>
                                <label class="form-control" id="soqd_cb" name="soqd_cb"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Huy Cong Bo Modal-->
<div class="modal fade" id="HuyCongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="KeKhaiDangKyGiaXetDuyet" asp-action="HuyCongBo" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hủy công bố?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="mahs_hcb" name="mahs_hcb" type="hidden" />
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Số quyết định</label>
                                <label class="form-control" id="soqd_hcb" name="soqd_hcb"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function SetDuyet(mahs, soqd) {
        document.getElementById("mahs_duyet").value = mahs;
        document.getElementById("soqd_duyet").innerHTML = soqd;
    }
    function Duyet() {
        if ($('#sohoso_duyet').val() != '') {
            document.getElementById("frm_duyet").submit();
        } else {
            toastr.error("Thông tin không được để trống!", "Lỗi!!!")
        }
    }
    function SetHuyDuyet(mahs, soqd) {
        document.getElementById("mahs_huyduyet").value = mahs;
        document.getElementById("soqd_huyduyet").innerHTML = soqd;
    }
    function TraLai(id) {
        document.getElementById("id_tralai").value = id;
    }
    function CongBo(mahs, soqd) {
        document.getElementById("mahs_cb").value = mahs;
        document.getElementById("soqd_cb").innerHTML = soqd;
    }
    function HuyCongBo(mahs, soqd) {
        document.getElementById("mahs_hcb").value = mahs;
        document.getElementById("soqd_hcb").innerHTML = soqd;
    }

    
</script>