@model CSDLGia_ASP.Models.Systems.API.KetNoiAPI_DanhSach

<input hidden asp-for="Maso" />
<div class="row">
    <div class="col-xl-12">
        <div class="form-group">
            <label>Link nhận dữ liệu</label>           
            <input type="text" class="form-control" asp-for="LinkNhanGet" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="form-group">
            <label>Link truyền dữ liệu</label>
            <input type="text" class="form-control" asp-for="LinkTruyenPost" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="form-group">
            <label>Mã địa bàn</label>
            <input type="text" class="form-control" asp-for="MaDiaBan" />
        </div>
    </div>
    <div class="col-xl-6">
        <div class="form-group">
            <label>Mã đơn vị</label>
            <input type="text" class="form-control" asp-for="MaDonVi" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="form-group">
            <label>Người tạo</label>
            <input type="text" class="form-control" asp-for="NguoiTao" />
        </div>
    </div>
    <div class="col-xl-6">
        <div class="form-group">
            <label>Người duyệt</label>
            <input type="text" class="form-control" asp-for="NguoiDuyet" />
        </div>
    </div>
</div>