@{
    var mahs = ViewData["Mahs"];
    var GiaThueTaiSanCongDm = (IEnumerable<GiaThueTaiSanCongDm>)ViewData["GiaThueTaiSanCongDm"];
}
@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaThueTsc;


<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin giá thuê tài sản công
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script>   

    function SetEdit(id_edit) {
        $.ajax({
            url: '/DinhGiaThueTscCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdate() {
        // var tu = $('#Thuetungay_edit').val().trim();
        // var den = $('#Thuedenngay_edit').val().trim();
        // if (tu >= den) {
        //     toastr.error("ngày bắt đầu phải nhỏ hơn ngày kết thúc!!!", "Lỗi!");

        // }
        // else {
            $.ajax({
                url: '/DinhGiaThueTscCt/Update',
                type: 'POST',
                data: {
                    Dvthue: $('#Dvthue_edit').val(),
                    Diachi: $('#Diachi_edit').val(),
                    // Soqdpd: $('#Soqdpd_edit').val(),
                    // Thoigianpd: $('#Thoigianpd_edit').val(),
                    // Soqddg: $('#Soqddg_edit').val(),
                    // Thoigiandg: $('#Thoigiandg_edit').val(),
                    Hdthue: $('#Hdthue_edit').val(),
                    Ththue: $('#Ththue_edit').val(),
                    Thuetungay: $('#Thuetungay_edit').val(),
                    // Thuedenngay: $('#Thuedenngay_edit').val(),
                    Dvt: $('#Dvt_edit').val(),
                    Dongiathue: $('#Dongiathue_edit').val(),
                    Sotienthuenam: $('#Sotienthuenam_edit').val(),
                    Id: $('#id_edit').val()
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Cập nhật thông tin thành công!", "Thành công");
                        $('#frm_data').replaceWith(data.message);
                        $(document).ready(function () {
                            TableManaged4.init();
                        });
                        $('#Edit_Modal').modal("hide");
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        // }
    }

</script>