@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    CSDLGia_ASP.Models.tblHeThong tblHeThong = ViewBag.tblHeThong;
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 3.9.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!--link rel="shortcut icon" href="favicon.ico"/-->
    <link rel="shortcut icon" href="~/logo/logolife.png" type="image/x-icon">

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="">
            <img src="~/logo/logolife.png" width="180" alt="Công ty TNHH phát triển phần mềm Cuộc Sống" />
        </a>
        <h2 style="text-transform: uppercase;">
            <b style="color: #32c5d2">
                PHẦN MỀM CƠ SỞ DỮ LIỆU VỀ GIÁ @tblHeThong.DiaDanh
            </b>
        </h2>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @*{!! Form::open(['url'=>'/signin','id' => 'form-login', 'class'=>'']) !!}*@
        <form asp-controller="DSTaiKhoan" asp-action="KiemTraTaiKhoan" method="post" class="form-horizontal form-validate" id="form-login">
            <p class="form-title"><span style="font-size: 19px;text-align:center;">Đăng nhập hệ thống</span></p>            
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Tài khoản</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control required" type="text" autocomplete="off" placeholder="Tài khoản"
                           name="tenDangNhap" id="tenDangNhap" value="@ViewData["username"]" autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control required" type="password" autocomplete="off" placeholder="Mật khẩu" 
                           name="matKhau" id="matKhau" />
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn red pull-right" id="login_button" onclick="validatePassword();">
                    Đăng nhập <i class="m-icon-swapright m-icon-white"></i>
                </button>
                <br>
            </div>
        </form>
            <div class="create-account">
                <div class="row">
                    <p>
                        Bạn chưa có tài khoản?&nbsp;  <b><a href="~/doanhnghiep/dangky">Đăng ký tài khoản</a></b>
                    </p>
                </div>

                <div class="row">
                    <p>
                        <a href="~/data/huongdan/" target="_blank"><b>Tìm lại mật khẩu</b></a>
                        <a class="pull-right" href="~thongtinhotro" target="_blank"><b>Thông tin hỗ trợ</b></a>
                    </p>
                </div>
                @if (ViewData["ipf2"] != "")
                {
                    <div class="row">
                        <p>
                            <a href="~/data/huongdan/'.$inputs['ipf2'])}}" target="_blank"><b>Tài liệu hướng dẫn đăng ký tài khoản</b></a>
                        </p>
                    </div>
                }
            </div>
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        Copyright &copy;  2016 - @DateTime.Now.Year <a href="">Tiện ích hơn - Hiệu quả hơn</a>
    </div>


    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~assets/global/plugins/respond.min.js"></script>
    <script src="~assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
            // init background slide images
            $.backstretch([
                "/assets/app/media/img/bg/bg-1.jpg",
                "/assets/app/media/img/bg/bg-2.jpg",
                "/assets/app/media/img/bg/bg-4.jpg",
            ], {
                fade: 5000,
                duration: 20000
            }
            );
        });

        $("#password").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#login_button").click();
            }
        });


        function validatePassword() {

            var validator = $("#form-login").validate({
                rules: {
                    tenDangNhap: "required",
                    matKhau: "required"

                },
                messages: {
                    tenDangNhap: "Tên đăng nhập không được bỏ trống.",
                    matKhau: "Mật khẩu không được bỏ trống"
                }
            });
        }
    </script>
</body>
<!-- END BODY -->
</html>