@{
    Layout = null;
}
<!--Giá Thuê mặt đất,nước-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuedn">
    <a asp-controller="DinhGia" asp-action="GiaThueMatDatMatNuoc" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê mặt đất, mặt nước</span>
    </a>
</li>

<!--Rừng-->
<li class="menu-item" aria-haspopup="true" id="menu_giarung">
    <a asp-controller="DinhGia" asp-action="GiaRung" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá rừng</span>
    </a>
</li>

<!--Thuê mua nhà-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuemuanhaxh">
    <a asp-controller="DinhGia" asp-action="GiaThueMuaNhaXh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê mua nhà xã hội</span>
    </a>
</li>

<!-- Tài Sản Công  -->
<li class="menu-item" aria-haspopup="true" id="menu_giatscong">
    <a asp-controller="TaiSanCongCb" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá tài sản công</span>
    </a>
</li>

<!--Giá giao dịch bất động sản-->
<li class="menu-item" aria-haspopup="true" id="menu_giagdbds">
    <a asp-controller="GiaGiaoDichBDSCongBo" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá giao dịch bất động sản</span>
    </a>
</li>

<!--Nước sinh hoạt-->
<li class="menu-item" aria-haspopup="true" id="menu_giancsh">
    <a asp-controller="DinhGia" asp-action="GiaNuocSh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá nước sạch sinh hoạt</span>
    </a>
</li>

<!--Thuê tài sản công-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuetscong">
    <a asp-controller="GiaThueTSanCongCongBo" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê tài sản công</span>
    </a>
</li>

<!--Dịch vụ công ích-->
<li class="menu-item" aria-haspopup="true" id="menu_giaspdvci">
    <a asp-controller="GiaSpDvCongIchCongBo" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá SP, DVCI, DVSNC, HH-DV đặt hàng</span>
    </a>
</li>

<!--Dịch vụ giáo dục đào tạo-->
<li class="menu-item" aria-haspopup="true" id="menu_giagddt">
    <a asp-controller="GiaoDucDaoTao" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá dịch vụ giáo dục đào tạo</span>
    </a>
</li>

<!--Dịch vụ khám chữa bệnh-->
<li class="menu-item" aria-haspopup="true" id="menu_giadvkcb">
    <a asp-controller="DvKhamChuaBenh" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá dịch vụ khám chữa bệnh</span>
    </a>
</li>

<!--Trợ giá trợ cước-->
<li class="menu-item" aria-haspopup="true" id="menu_giatrogiatrocuoc">
    <a asp-controller="TroGiaTroCuoc" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Mức trợ giá, trợ cước</span>
    </a>
</li>

<!--Thuế tài nguyên-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuetn">
    <a asp-controller="GiaThueTaiNguyenCongBo" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuế tài nguyên</span>
    </a>
</li>

<!--Giá hàng hóa tại siêu thị-->
<li class="menu-item" aria-haspopup="true" id="menu_giahhst">
    <a asp-controller="#" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá hàng hóa tại siêu thị</span>
    </a>
</li>