@{
    Layout = null;
}
<!--Giá Thuê mặt đất,nước-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuedncb">
    <a asp-controller="DinhGia" asp-action="GiaThueMatDatMatNuoc" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê mặt đất, mặt nước</span>
    </a>
</li>

<!--Rừng-->
<li class="menu-item" aria-haspopup="true" id="menu_giarungcb">
    <a asp-controller="DinhGia" asp-action="GiaRung" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá rừng</span>
    </a>
</li>

<!--Thuê mua nhà-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuemuanhaxhcb">
    <a asp-controller="DinhGia" asp-action="GiaThueMuaNhaXh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê mua nhà xã hội</span>
    </a>
</li>

<!-- Tài Sản Công  -->
<li class="menu-item" aria-haspopup="true" id="menu_giatscongcb">
    <a asp-controller="DinhGia" asp-action="GiaTaiSanCong" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá tài sản công</span>
    </a>
</li>

<!--Giá giao dịch bất động sản-->
<li class="menu-item" aria-haspopup="true" id="menu_giagdbdscb">
    <a asp-controller="DinhGia" asp-action="GiaGiaoDichBDS" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá giao dịch bất động sản</span>
    </a>
</li>

<!--Nước sinh hoạt-->
<li class="menu-item" aria-haspopup="true" id="menu_giancshcb">
    <a asp-controller="DinhGia" asp-action="GiaNuocSh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá nước sạch sinh hoạt</span>
    </a>
</li>

<!--Thuê tài sản công-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuetscongcb">
    <a asp-controller="DinhGia" asp-action="GiaThueTaiSanCong" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuê tài sản công</span>
    </a>
</li>

<!--Dịch vụ công ích-->
<li class="menu-item" aria-haspopup="true" id="menu_giaspdvcicb">
    <a asp-controller="DinhGia" asp-action="GiaSpDvCi" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá SP, DVCI, DVSNC, HH-DV đặt hàng</span>
    </a>
</li>

<!--Dịch vụ giáo dục đào tạo-->
<li class="menu-item" aria-haspopup="true" id="menu_giagddtcb">
    <a asp-controller="DinhGia" asp-action="GiaDvGiaoDucDaoTao" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá dịch vụ giáo dục đào tạo</span>
    </a>
</li>

<!--Dịch vụ khám chữa bệnh-->
<li class="menu-item" aria-haspopup="true" id="menu_giadvkcbcb">
    <a asp-controller="DinhGia" asp-action="GiaDvKcb" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá dịch vụ khám chữa bệnh</span>
    </a>
</li>

<!--Trợ giá trợ cước-->
<li class="menu-item" aria-haspopup="true" id="menu_giatrogiatrocuoccb">
    <a asp-controller="DinhGia" asp-action="GiaTroGiaTroCuoc" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Mức trợ giá, trợ cước</span>
    </a>
</li>

<!--Thuế tài nguyên-->
<li class="menu-item" aria-haspopup="true" id="menu_giathuetncb">
    <a asp-controller="DinhGia" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá thuế tài nguyên</span>
    </a>
</li>

<!--Giá hàng hóa tại siêu thị-->
<li class="menu-item" aria-haspopup="true" id="menu_giahhstcb">
    <a asp-controller="DinhGia" asp-action="Index" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá hàng hóa tại siêu thị</span>
    </a>
</li>