@{
    Layout = null;
}


<li class="menu-item" aria-haspopup="true" id="menu_giadatcuthecongbo">
    <a asp-controller="GiaDat" asp-action="GiaDatCuThe" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá đất cụ thể</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_giarungcb">
    <a asp-controller="GiaDat" asp-action="KhungGiaDat" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Khung giá đất</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_giathuemuanhaxhcb">
    <a asp-controller="GiaDat" asp-action="BangGiaDat" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Bảng giá đất</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_giatscongcb">
    <a asp-controller="GiaDat" asp-action="GiaGiaoDichDat" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá đất giao dịch thực tế trên thị trường</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_giatscongcb">
    <a asp-controller="GiaDat" asp-action="GiaTrungThauDat" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá trúng thầu quyền sử dụng đất</span>
    </a>
</li>