@{
    Layout = null;
}
<li class="menu-item" aria-haspopup="true" id="menu_giahanghoadichvuchuyennghanhcb">
    <a asp-controller="GiaKhac" asp-action="GiaHangHoaDichVuChuyenNghanh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá hàng hóa, dịch vụ khác theo quy định của pháp luật chuyên ngành</span>
    </a>
</li>
<li class="menu-item" aria-haspopup="true" id="menu_gialephitruocbacb">
    <a asp-controller="GiaKhac" asp-action="GiaLePhiTruocBa" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá lệ phí trước bạ</span>
    </a>
</li>
<li class="menu-item" aria-haspopup="true" id="menu_giaphilephicb">
    <a asp-controller="GiaKhac" asp-action="GiaPhiLePhi" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá phí, lệ phí</span>
    </a>
</li>
<li class="menu-item" aria-haspopup="true" id="menu_giavatlieuxaydungcb">
    <a asp-controller="GiaKhac" asp-action="GiaVatLieuXayDung" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá vật liệu xây dựng</span>
    </a>
</li>
