@{
    Layout = null;
}

<li class="menu-item" aria-haspopup="true" id="menu_dichvuluutrucongbo">
    <a asp-controller="KeKhaiGia" asp-action="DichVuLuuTru" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giá dịch vụ lưu trú</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_ximangthepxaydungcongbo">
    <a asp-controller="KeKhaiGia" asp-action="XiMangThepXayDung" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Xi măng thép xây dựng</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_thancongbo">
    <a asp-controller="KeKhaiGia" asp-action="Than" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Than</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_thucanchannuoicongbo">
    <a asp-controller="KeKhaiGia" asp-action="ThucAnChanNuoi" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Thức ăn chăn nuôi</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_giaycongbo">
    <a asp-controller="KeKhaiGia" asp-action="Giay" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Giấy in, viết ( dạng cuộn ) giấy in báo sản xuất trong nước</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_sachcongbo">
    <a asp-controller="KeKhaiGia" asp-action="SachGiaoKhoa" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Sách giáo khoa</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_etanolcongbo">
    <a asp-controller="KeKhaiGia" asp-action="Etanol" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Etanol nhiên liệu tự nhiên không biến tính;khí tự nhiên hóa lỏng(LNG);Khí thiên nhiên nén(CNG)</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_thucphamchucnangcongbo">
    <a asp-controller="KeKhaiGia" asp-action="ThucPhamChucNang" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Thực phẩm chức năng cho trẻ em 6 tuổi</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_vanchuyenbangxebuytcongbo">
    <a asp-controller="KeKhaiGia" asp-action="VanChuyenBangXeBuyt" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Cước vận tải hành khách bằng xe buýt theo tuyến cố định</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_vanchuyenbangotocongbo">
    <a asp-controller="KeKhaiGia" asp-action="VanChuyenBangOto" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Cước vận tải hành khách bằng ôtô tuyến cố định</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_vanchuyenbangtaxicongbo">
    <a asp-controller="KeKhaiGia" asp-action="VanChuyenBangTaxi" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Cước vận tải hành khách bằng xe taxi</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_vatlieuxaydungcongbo">
    <a asp-controller="KeKhaiGia" asp-action="VatLieuXayDung" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Vật liệu xây dựng</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_dichvukhamchuabenhcongbo">
    <a asp-controller="KeKhaiGia" asp-action="DichVuKhamChuaBenh" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Dịch vụ khám chữa bệnh cho người tại cơ sở khám chữa bệnh tư nhân; khám chữa bệnh theo yêu cầu tại cơ sở khám chữa bệnh của nhà nước</span>
    </a>
</li>


<li class="menu-item" aria-haspopup="true" id="menu_dichvuthuongmaixuatkhaucongbo">
    <a asp-controller="KeKhaiGia" asp-action="DichVuThuongMaiXuatKhau" class="menu-link">
        <i class="menu-bullet menu-bullet-line">
            <span></span>
        </i>
        <span class="menu-text">Dịch vụ hỗ trợ hoạt động thương mại tại cửa khẩu</span>
    </a>
</li>



