@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"]; // truyền sang từ ViewData
    var spdv = (IEnumerable<GiaHhDvCnDm>)ViewData["Spdv"];
    var dsloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dsloaidat"];
    var dsxaphuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];
}
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    HỒ SƠ GIÁ ĐẤT THEO CÔNG BỐ (Edit)
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaDatDiaBan" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_datdiaban_store">
            <div class="card-body">
            <input hidden asp-for="Madv">
            <input hidden asp-for="Mahs">
                <div class="row">

                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Theo thông tư quyết định</label>
                            <input type="text" class="form-control" asp-for="Soqd" id="Noidung" />

                        </div>
                       
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Địa bàn</label>
                            <select class="form-control" id="Madiaban" name="Madiaban">
                            @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @(item.MaDiaBan==(string)ViewData["MaDiaBan"] ? "selected": "")>@item.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày áp dụng</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>

            </div>
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaDatDiaBan/Detail.cshtml")
            <div class="card-footer" style="text-align:center">
                <a asp-controller="GiaDatDiaBan" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                    <i class="la la-reply"></i>Quay lại
                </a>&ensp;
                <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Hoàn Thành</button>
            </div>



        </div>

    </form>

</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }