@{
    int record_id = 1;
    var codeExcel = ViewData["codeExcel"]?.ToString() ?? null;
}
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
</div>
<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label"></h3>
        </div>
        <div class="card-toolbar"> </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Tải file Excel</label>
                    <input type="file" id="excelFileInput" accept=".xlsx" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="excelTableContainer">
                    @if(codeExcel != "")
                    {
                        <table id="dulieuExcel" border="1" contenteditable="true"></table>
                    }                   
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    document.getElementById('excelFileInput').addEventListener('change', function (event) {
        var input = event.target;
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });

                // Hiển thị dữ liệu trong bảng HTML sử dụng SheetJS
                var excelTable = XLSX.utils.sheet_to_html(workbook.Sheets[workbook.SheetNames[0]]);
                excelTable = excelTable.replace('<title>SheetJS Table Export</title>', '');
                document.getElementById('excelTableContainer').innerHTML = excelTable.replace("<table>", "<table border='1' contenteditable='true' id ='dulieuExcel'>");

                // // Ví dụ: thêm sự kiện cho việc lưu dữ liệu khi người dùng kết thúc chỉnh sửa
                // document.getElementById('excelTableContainer').addEventListener('blur', function () {
                //     // Lấy dữ liệu từ bảng và thực hiện các xử lý lưu dữ liệu vào cơ sở dữ liệu
                //     var editedData = XLSX.utils.table_to_sheet(document.getElementById('excelTableContainer'));
                //     // Gọi hàm lưu dữ liệu vào cơ sở dữ liệu
                //     alert(editedData);
                //     saveDataToDatabase(editedData);
                // });
            };

            reader.readAsArrayBuffer(file);            
        }
    });
</script>
