@{
    string trangThai = (string)ViewData["TrangThaiHoSo"] ?? "";
    string lyDo = (string)ViewData["LyDoTraLai"] ?? "";
}
<td style="text-align: center">
    <span style="width: 112px;">
        @if (trangThai == "CC")
        {
            <span class="label font-weight-bold label-lg label-xl label-light-info label-inline">Chờ chuyển</span>
        }
        else if (trangThai == "CD")
        {
            <span class="label font-weight-bold label-lg label-inline label-light-warning">Chờ duyệt</span>
        }
        else if (trangThai == "DD")
        {
            <span class="label font-weight-bold label-lg label-inline label-light-primary">Đã duyệt</span>
        }
        else if (trangThai == "BTL")
        {
            <span class="label font-weight-bold label-lg label-inline label-light-danger">Bị trả lại</span>

            <br />
            <span>Lý do:&nbsp;@lyDo</span>
        }
        else
        {
            <span class="label font-weight-bold label-lg label-inline label-light-success">Công bố</span>
        }
    </span>
</td>
